<p-toast key="tst"></p-toast>
<div class="grid">
    <div class="col-12">
        <app-breadcrumb [items]="breadcrumbItems"></app-breadcrumb>
        <div class="card px-6 py-6">
            <div class="">
                <p class="font-medium text-900">Selecciona un Plan:</p>
                <form [formGroup]="planForm">
                    <p-dropdown
                        [options]="plans"
                        formControlName="planSelected"
                        [loading]="statusListPlans"
                        optionLabel="title"
                        placeholder="Seleccionar un plan"
                    />
                </form>

                <div *ngIf="planSelected.value.id" class="mt-3">
                    <p class="font-medium text-900">
                        Selecciona una actividad:
                    </p>
                    <div class="flex">
                        <div *ngFor="let activity of activities">
                            <p-chip
                                [label]="
                                    activity.code_activity +
                                    '. ' +
                                    activity.description_activity
                                "
                                [icon]="
                                    activity.selected
                                        ? 'pi pi-circle-on'
                                        : 'pi pi-circle-off'
                                "
                                class="mr-2 cursor-pointer"
                                (click)="activitySelection(activity)"
                            />
                        </div>
                    </div>
                </div>

                <div *ngIf="activitySelected" class="my-3">
                    <p class="font-medium text-900">Selecciona una tarea:</p>
                    <div class="flex">
                        <div *ngFor="let task of tasks">
                            <p-chip
                                [label]="
                                    task.code_task +
                                    '. ' +
                                    task.description_task
                                "
                                [icon]="
                                    task.selected
                                        ? 'pi pi-circle-on'
                                        : 'pi pi-circle-off'
                                "
                                class="mr-2 cursor-pointer"
                                (click)="taskSelection(task)"
                            />
                        </div>
                    </div>
                </div>

                <form
                    *ngIf="taskSelected"
                    [formGroup]="gastoForm"
                    (ngSubmit)="agregarGasto()"
                >
                    <div
                        class="mb-4"
                        style="
                            border: 1px dashed #d1d5db;
                            border-radius: 5px;
                            padding: 15px;
                        "
                    >
                        <div class="flex">
                            <div class="mr-auto">
                                <label for="tituloGeneral" class="col-12">
                                    {{
                                        taskSelected.code_task +
                                            ". " +
                                            taskSelected.description_task
                                    }}</label
                                >
                            </div>
                            <button
                                pButton
                                type="button"
                                icon="pi pi-times"
                                class="p-button-danger"
                                [rounded]="true"
                                [text]="true"
                            ></button>
                        </div>

                        <!-- Descripción de la Actividad -->
                        <div class="p-field p-grid">
                            <div class="col-12">
                                <input
                                    pInputText
                                    id="descripcion"
                                    style="width: 100%"
                                    placeholder="Gasto específico"
                                    formControlName="gastoEspecifico"
                                    class="p-inputtext-sm"
                                />
                            </div>
                        </div>

                        <div class="mb-2">
                            <!-- Meses -->
                            <div class="p-field p-grid">
                                <label class="p-col-12 p-md-2">Meses:</label>

                                <div
                                    formArrayName="meses"
                                    class="grid col-12 p-align-center p-justify-center flex"
                                >
                                    <div
                                        *ngFor="
                                            let mes of [
                                                'Ene',
                                                'Feb',
                                                'Mar',
                                                'Abr',
                                                'May',
                                                'Jun',
                                                'Jul',
                                                'Ago',
                                                'Sep',
                                                'Oct',
                                                'Nov',
                                                'Dic'
                                            ];
                                            let i = index
                                        "
                                        class="col-2"
                                    >
                                        <!-- <p-inputNumber
                                                class="w-full"
                                                [placeholder]="mes"
                                            ></p-inputNumber> -->
                                        <p>{{ mes }}</p>
                                        <input
                                            type="number"
                                            style="
                                                width: -webkit-fill-available;
                                            "
                                            [placeholder]="mes"
                                            pInputText
                                            [formControlName]="i"
                                            pKeyFilter="int"
                                        />
                                    </div>
                                </div>
                                <div class="p-field p-grid">
                                    <div class="col-12">
                                        <input
                                            pInputText
                                            id="descripcion"
                                            style="width: 100%"
                                            placeholder="Rubro Contable"
                                            formControlName="rubroContable"
                                            class="p-inputtext-sm"
                                        />
                                    </div>
                                </div>
                            </div>

                            <!-- Comentario -->
                            <div class="p-field p-grid">
                                <div class="p-col-12 p-md-10">
                                    <p-button
                                        label="Agregar Gasto"
                                        type="submit"
                                    ></p-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <h3>Vista Previa de Gastos</h3>
                <p-table
                    [value]="gastosIngresados"
                    styleClass="p-datatable-gridlines"
                    responsiveLayout="scroll"
                >
                    <ng-template pTemplate="header">
                        <tr>
                            <th>COD. ACT</th>
                            <th>ACTIVIDAD FUNCIONAL</th>
                            <th>COD. TAREA</th>
                            <th>GASTO ESPECÍFICO</th>
                            <th
                                *ngFor="
                                    let mes of [
                                        'Ene',
                                        'Feb',
                                        'Mar',
                                        'Abr',
                                        'May',
                                        'Jun',
                                        'Jul',
                                        'Ago',
                                        'Sep',
                                        'Oct',
                                        'Nov',
                                        'Dic'
                                    ]
                                "
                            >
                                {{ mes }}
                            </th>
                            <th>Total</th>
                            <th>Rubro Contable</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-gasto>
                        <tr>
                            <td>{{ gasto.activityCode }}</td>
                            <td>{{ gasto.taskCode }}</td>
                            <td>{{ gasto.tarea }}</td>
                            <td>{{ gasto.gastoEspecifico }}</td>
                            <td *ngFor="let monto of gasto.meses">
                                {{ monto }}
                            </td>
                            <td>{{ calcularTotal(gasto.meses) }}</td>
                            <td>{{ gasto.rubroContable }}</td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="footer">
                        <tr>
                            <td colspan="4">TOTAL</td>
                            <td *ngFor="let mes of totalMeses()">{{ mes }}</td>
                            <td>{{ calcularTotalTotal() }}</td>
                            <td></td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>
