.p-field {
    margin-bottom: 1rem;
}

.p-error-message {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
    color: #dc3545;
}

.error-icon {
    margin-right: 0.5rem;
    font-size: 1.5rem;
    color: #dc3545;
}

::ng-deep {
    .p-tooltip .p-tooltip-content {
      width: 400px !important; // Ajusta el ancho según tus necesidades
    }
  
    .p-tooltip {
      max-width: none !important; // Asegúrate de que no haya un máximo ancho que lo restrinja
    }
  }