<div [ngSwitch]="getStudentListProcess">
    <ng-template [ngSwitchCase]="'charging'">
        <ng-container *ngTemplateOutlet="studentListSkeleton"></ng-container>
    </ng-template>
    <ng-template [ngSwitchCase]="'error'">
        <ng-container *ngTemplateOutlet="studentListError"></ng-container>
    </ng-template>
    <ng-template [ngSwitchCase]="'complete'">
        <ng-container *ngTemplateOutlet="studentList"></ng-container>
    </ng-template>
    <ng-template ngSwitchDefault>
        <p>Invalid state</p>
    </ng-template>
</div>
<ng-template #studentListError>
    <div class="p-error-message">
        <i class="pi pi-times-circle error-icon"></i>
        <span>Ha ocurrido un error al traer la información.</span>
        <button
            pButton
            type="button"
            icon="pi pi-refresh"
            class="p-button-text p-button-danger"
            (click)="callGetStudentList()"
        ></button>
    </div>
</ng-template>
<ng-template #studentListSkeleton>
    <div class="grid p-fluid">
        <div *ngIf="!studentsList.length" class="field col-12">
            <p-skeleton height="3rem" styleClass="mb-2" />
        </div>
    </div>
</ng-template>
<ng-template #studentList>
    <div class="grid p-fluid">
        <div *ngIf="studentsList.length" class="field col-12">
            <span class="p-float-label">
                <form [formGroup]="userForm">
                    <span class="p-fluid">
                        <p-autoComplete
                            [pTooltip]="tooltipContent" 
                            tooltipPosition="bottom" 
                            formControlName="userFormControl"
                            [suggestions]="filteredItems"
                            (completeMethod)="search($event)"
                            field="fullName"
                            [multiple]="true"
                        />
                    </span>
                </form>

                <!--<label for="studentOne">Ingrese el nombre del
                  estudiante</label>-->
            </span>
        </div>
    </div>
</ng-template>
<ng-template #tooltipContent>
    <div class="flex align-items-center">
        <div *ngIf="userFormControl.value.length">
            <style>
                table {
                    width: 100%;
                    border-collapse: collapse;
                }
                th, td {
                    border: 1px solid #dddddd;
                    text-align: left;
                    padding: 8px;
                }
            </style>
            <table>
                <thead>
                    <tr>
                        <th>Nombres</th>
                        <th>Celular</th>
                        <th>Correo</th>
                        <th>Código</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of userFormControl.value">
                        <td>{{user.name + ' ' + user.surnames}}</td>
                        <td>{{user.phone}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.code}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="!userFormControl.value.length">
            <p>Aún no se han seleccionado usuarios</p>
        </div>
        
    </div>
</ng-template>
