<div class="card">
    <h5>Asignación de estudiantes</h5>
    <p>Complete todos los campos para continuar.</p>
    <p-messages [(value)]="presenter.messages" [enableService]="false" />
    <form [formGroup]="presenter.formStep2">
        <style>
            .p-field {
                margin-bottom: 1rem;
            }

            .p-error-message {
                display: flex;
                align-items: center;
                margin-top: 0.5rem;
                color: #dc3545;
            }

            .error-icon {
                margin-right: 0.5rem;
                font-size: 1.5rem;
                color: #dc3545;
            }
        </style>
        <div [ngSwitch]="getStudentListProcess">
            <ng-template [ngSwitchCase]="'charging'">
                <ng-container
                    *ngTemplateOutlet="studentListSkeleton"
                ></ng-container>
            </ng-template>
            <ng-template [ngSwitchCase]="'error'">
                <ng-container
                    *ngTemplateOutlet="studentListError"
                ></ng-container>
            </ng-template>
            <ng-template [ngSwitchCase]="'complete'">
                <ng-container *ngTemplateOutlet="studentList"></ng-container>
            </ng-template>
            <ng-template ngSwitchDefault>
                <p>Invalid state</p>
            </ng-template>
        </div>
        <ng-template #studentListError>
            <div class="p-error-message">
                <i class="pi pi-times-circle error-icon"></i>
                <span>Ha ocurrido un error al traer la información.</span>
                <button
                    pButton
                    type="button"
                    icon="pi pi-refresh"
                    class="p-button-text p-button-danger"
                    (click)="callGetStudentList()"
                ></button>
            </div>
        </ng-template>
        <ng-template #studentListSkeleton>
            <div class="grid p-fluid mt-3">
                <div *ngIf="!studentsList.length" class="field col-12 md:col-6">
                    <p-skeleton height="2rem" styleClass="mb-2" />
                </div>
                <div *ngIf="!studentsList.length" class="col-12 md:col-1">
                    <p-skeleton shape="circle" size="2rem" styleClass="mr-2" />
                </div>
            </div>
        </ng-template>
        <ng-template #studentList>
            <div class="grid p-fluid mt-3">
                <div *ngIf="studentsList.length" class="field col-12 md:col-6">
                    <!-- <span class="p-float-label">
                        <p-autoComplete
                            id="studentOne"
                            formControlName="student"
                            [suggestions]="filteredStudents"
                            (completeMethod)="filterStudents($event)"
                            field="name"
                        >
                            <ng-template let-student pTemplate="item">
                                <div class="flex align-items-center gap-2">
                                    <div>
                                        {{ student.name + ' ' +
                                        student.surnames}}
                                    </div>
                                </div>
                            </ng-template>
                        </p-autoComplete>
                        <label for="studentOne"
                            >Ingrese el nombre del estudiante</label
                        >
                    </span> -->
                    <form [formGroup]="presenter.userOneStep2">
                        <div class="field mt-5">
                            <span class="p-float-label">
                                <p-dropdown
                                    class="display-grid"
                                    formControlName="role"
                                    inputId="role"
                                    [autoDisplayFirst]="false"
                                    [options]="roles"
                                    optionLabel="name"></p-dropdown>
                                <label for="role">Seleccione un rol</label>
                            </span>
                            <small
                                class="pl-2 text-error"
                                *ngIf="presenter.role.dirty && presenter.role.errors">El rol es
                                requerido.</small>
                        </div>
                        <div class="field mt-5">
                            <span class="p-float-label">
                                <input
                                    type="text"
                                    id="name"
                                    class="w-full"
                                    pInputText
                                    formControlName="name" />
                                <label for="name">Nombres</label>
                            </span>
                            <small
                                class="pl-2 text-error"
                                *ngIf="presenter.name.dirty && presenter.name.errors">El nombre es
                                requerido.</small>
                        </div>
                        <div class="field mt-5">
                            <span class="p-float-label">
                                <input
                                    type="text"
                                    id="lastName"
                                    class="w-full"
                                    pInputText
                                    formControlName="lastName" />
                                <label for="lastName">Apellidos</label>
                            </span>
                            <small
                                class="pl-2 text-error"
                                *ngIf="presenter.lastName.dirty && presenter.lastName.errors">El
                                apellido es requerido.</small>
                        </div>
            
                        <div class="formgrid grid mt-5">
                            <div class="field col">
                                <span class="p-float-label">
                                    <input
                                        type="text"
                                        id="code"
                                        class="w-full"
                                        pInputText
                                        pKeyFilter="int"
                                        formControlName="code" />
                                    <label for="code">Código</label>
                                </span>
                                <small
                                    class="pl-2 text-error"
                                    *ngIf="presenter.code.dirty && presenter.code.errors">El código es
                                    requerido.</small>
                            </div>
            
                            <div class="field col">
                                <span class="p-float-label">
                                    <input
                                        type="text"
                                        id="number"
                                        class="w-full"
                                        pInputText
                                        pKeyFilter="int"
                                        formControlName="number" />
                                    <label for="number">Celular (opcional)</label>
                                </span>
                                <!-- <small
                                    class="pl-2 text-error"
                                    *ngIf="presenter.number.dirty && presenter.number.errors">El celular
                                    es requerido.</small> -->
                            </div>
                        </div>
                        <div class="formgrid grid mt-4">
                            <div class="col">
                                <span class="p-float-label">
                                    <input
                                        type="email"
                                        id="email"
                                        class="w-full"
                                        pInputText
                                        formControlName="email" />
                                    <label for="email">Correo (opcional)</label>
                                </span>
                                <!-- <small
                                    class="pl-2 text-error"
                                    *ngIf="presenter.email.dirty && presenter.email.errors">El nombre es
                                    requerido.</small> -->
                            </div>
                        </div>
                        <div class="formgrid grid mt-5">
                            <div class="col">
                                <span class="p-float-label">
                                    <input
                                        type="text"
                                        id="career"
                                        class="w-full"
                                        pInputText
                                        formControlName="career" />
                                    <label for="career">Carrera (opcional)</label>
                                </span>
                                <!-- <small
                                    class="pl-2 text-error"
                                    *ngIf="presenter.career.dirty && presenter.career.errors">La
                                    carrera es requerida.</small> -->
                            </div>
                        </div>
                        <div class="formgrid grid mt-5" *ngIf="presenter.roleSelected === 'Estudiante'">
                            <div class="col">
                                <span class="p-float-label">
                                    <p-dropdown
                                        formControlName="cycle"
                                        inputId="cycle"
                                        class="display-grid"
                                        [autoDisplayFirst]="false"
                                        [options]="cycles"
                                        optionLabel="name"></p-dropdown>
                                    <label for="cycle">Seleccione el
                                        ciclo (opcional)</label>
                                </span>
                                <!-- <small
                                    class="pl-2 text-error"
                                    *ngIf="presenter.cycle.dirty && presenter.cycle.errors">El ciclo
                                    es requerido.</small> -->
                            </div>
                        </div>

                        <div class="formgrid grid mt-5" *ngIf="presenter.roleSelected === 'Egresado'">
                            <div class="field col">
                                <span class="p-float-label">
                                    <p-calendar
                                        inputId="egressDate"
                                        [iconDisplay]="'input'"
                                        formControlName="egressDate"
                                        class="w-full"
                                        [showIcon]="true"
                                        dateFormat="yy-mm-dd"></p-calendar>
                                    <label for="egressDate">Fecha de
                                        egreso  (opcional)</label>
                                </span>
                                <!-- <small
                                    class="pl-2 text-error"
                                    *ngIf="
                                        presenter.egressDate.dirty && presenter.egressDate.errors
                                    ">La fecha de egreso es requerida.</small> -->
                            </div>
                        </div>
                    </form>

                    
                </div>
                <div
                    *ngIf="!presenter.studentTwoRequired"
                    class="col-12 md:col-1"
                >
                    <p-button
                        icon="pi pi-user-plus"
                        [rounded]="true"
                        [outlined]="true"
                        pTooltip="Agregar un segundo estudiante"
                        tooltipPosition="bottom"
                        (click)="presenter.showStudentTwo()"
                    />
                </div>
                <div
                    *ngIf="presenter.studentTwoRequired"
                    class="col-12 md:col-5"
                >
                    <!-- <span class="p-float-label">
                        <p-autoComplete
                            id="studentTwo"
                            formControlName="studentTwo"
                            [suggestions]="filteredSecondStudents"
                            (completeMethod)="filterSecondStudents($event)"
                            field="name"
                        >
                            <ng-template let-student pTemplate="item">
                                <div class="flex align-items-center gap-2">
                                    <div>
                                        {{ student.name + ' ' +
                                        student.surnames}}
                                    </div>
                                </div>
                            </ng-template>
                        </p-autoComplete>
                        <label for="studentTwo"
                            >Ingrese el nombre del segundo estudiante</label
                        >
                    </span> -->
                    <form [formGroup]="presenter.userTwoStep2">
                        <div class="field mt-5">
                            <span class="p-float-label">
                                <p-dropdown
                                    class="display-grid"
                                    formControlName="roleTwo"
                                    inputId="role"
                                    [autoDisplayFirst]="false"
                                    [options]="roles"
                                    optionLabel="name"></p-dropdown>
                                <label for="role">Seleccione un rol</label>
                            </span>
                            <small
                                class="pl-2 text-error"
                                *ngIf="presenter.roleTwo.dirty && presenter.roleTwo.errors">El rol es
                                requerido.</small>
                        </div>
                        <div class="field mt-5">
                            <span class="p-float-label">
                                <input
                                    type="text"
                                    id="name"
                                    class="w-full"
                                    pInputText
                                    formControlName="nameTwo" />
                                <label for="name">Nombres</label>
                            </span>
                            <small
                                class="pl-2 text-error"
                                *ngIf="presenter.nameTwo.dirty && presenter.nameTwo.errors">El nombre es
                                requerido.</small>
                        </div>
                        <div class="field mt-5">
                            <span class="p-float-label">
                                <input
                                    type="text"
                                    id="lastName"
                                    class="w-full"
                                    pInputText
                                    formControlName="lastNameTwo" />
                                <label for="lastName">Apellidos</label>
                            </span>
                            <small
                                class="pl-2 text-error"
                                *ngIf="presenter.lastNameTwo.dirty && presenter.lastNameTwo.errors">El
                                apellido es requerido.</small>
                        </div>
            
                        <div class="formgrid grid mt-5">
                            <div class="field col">
                                <span class="p-float-label">
                                    <input
                                        type="text"
                                        id="code"
                                        class="w-full"
                                        pInputText
                                        pKeyFilter="int"
                                        formControlName="codeTwo" />
                                    <label for="code">Código</label>
                                </span>
                                <small
                                    class="pl-2 text-error"
                                    *ngIf="presenter.codeTwo.dirty && presenter.codeTwo.errors">El código es
                                    requerido.</small>
                            </div>
            
                            <div class="field col">
                                <span class="p-float-label">
                                    <input
                                        type="text"
                                        id="number"
                                        class="w-full"
                                        pInputText
                                        pKeyFilter="int"
                                        formControlName="numberTwo" />
                                    <label for="number">Celular (opcional)</label>
                                </span>
                                <!-- <small
                                    class="pl-2 text-error"
                                    *ngIf="presenter.numberTwo.dirty && presenter.numberTwo.errors">El celular
                                    es requerido.</small> -->
                            </div>
                        </div>
                        <div class="formgrid grid mt-4">
                            <div class="col">
                                <span class="p-float-label">
                                    <input
                                        type="email"
                                        id="email"
                                        class="w-full"
                                        pInputText
                                        formControlName="emailTwo" />
                                    <label for="email">Correo (opcional)</label>
                                </span>
                                <!-- <small
                                    class="pl-2 text-error"
                                    *ngIf="presenter.emailTwo.dirty && presenter.emailTwo.errors">El nombre es
                                    requerido.</small> -->
                            </div>
                        </div>
                        <div class="formgrid grid mt-5">
                            <div class="col">
                                <span class="p-float-label">
                                    <input
                                        type="text"
                                        id="career"
                                        class="w-full"
                                        pInputText
                                        formControlName="careerTwo" />
                                    <label for="career">Carrera (opcional)</label>
                                </span>
                                <!-- <small
                                    class="pl-2 text-error"
                                    *ngIf="presenter.careerTwo.dirty && presenter.careerTwo.errors">La
                                    carrera es requerida.</small> -->
                            </div>
                        </div>
                        <div class="formgrid grid mt-5" *ngIf="presenter.roleSelectedTwo === 'Estudiante'">
                            <div class="col">
                                <span class="p-float-label">
                                    <p-dropdown
                                        formControlName="cycleTwo"
                                        inputId="cycle"
                                        class="display-grid"
                                        [autoDisplayFirst]="false"
                                        [options]="cycles"
                                        optionLabel="name"></p-dropdown>
                                    <label for="cycle">Seleccione el
                                        ciclo (opcional)</label>
                                </span>
                                <!-- <small
                                    class="pl-2 text-error"
                                    *ngIf="presenter.cycleTwo.dirty && presenter.cycleTwo.errors">El ciclo
                                    es requerido.</small> -->
                            </div>
                        </div>

                        <div class="formgrid grid mt-5" *ngIf="presenter.roleSelectedTwo === 'Egresado'">
                            <div class="field col">
                                <span class="p-float-label">
                                    <p-calendar
                                        inputId="egressDate"
                                        [iconDisplay]="'input'"
                                        formControlName="egressDateTwo"
                                        class="w-full"
                                        [showIcon]="true"
                                        dateFormat="yy-mm-dd"></p-calendar>
                                    <label for="egressDate">Fecha de
                                        egreso (opcional)</label>
                                </span>
                                <!-- <small
                                    class="pl-2 text-error"
                                    *ngIf="
                                        presenter.egressDateTwo.dirty && presenter.egressDateTwo.errors
                                    ">La fecha de egreso es requerida.</small> -->
                            </div>
                        </div>
                    </form>
                </div>
                <div
                    *ngIf="presenter.studentTwoRequired"
                    class="col-12 md:col-1"
                >
                    <p-button
                        icon="pi pi-times"
                        [rounded]="true"
                        severity="danger"
                        [outlined]="true"
                        pTooltip="Eliminar el segundo estudiante"
                        tooltipPosition="bottom"
                        (click)="presenter.hideStudentTwo()"
                    />
                </div>
            </div>
        </ng-template>

        <div class="grid p-fluid">
            <div class="col-12 md:col-6">
                <p-card *ngIf="presenter.studentOneIsValid">
                    <div class="flex w-full mb-2">
                        <p-avatar
                            [label]="presenter.dataStudentOneSelected.name[0]"
                            size="large"
                        />
                        <p class="my-auto ml-4">
                            {{presenter.dataStudentOneSelected.name + ' ' +
                            presenter.dataStudentOneSelected.surnames}}
                        </p>
                    </div>
                    <p>Código: {{presenter.dataStudentOneSelected.code}}</p>
                    <p>Correo: {{presenter.dataStudentOneSelected.email}}</p>
                    <p>Celular: {{presenter.dataStudentOneSelected.phone}}</p>
                </p-card>
            </div>
            <div class="col-12 md:col-6">
                <p-card *ngIf="presenter.studentTwoIsValid">
                    <div class="flex w-full mb-2">
                        <p-avatar
                            [label]="presenter.dataStudentTwoSelected.name[0]"
                            size="large"
                        />
                        <p class="my-auto ml-4">
                            {{presenter.dataStudentTwoSelected.name + ' ' +
                            presenter.dataStudentTwoSelected.surnames}}
                        </p>
                    </div>
                    <p>Código: {{presenter.dataStudentTwoSelected.code}}</p>
                    <p>Correo: {{presenter.dataStudentTwoSelected.email}}</p>
                    <p>Celular: {{presenter.dataStudentTwoSelected.phone}}</p>
                </p-card>
            </div>
        </div>
        <div class="flex gap-3 mt-1">
            <p-button
                (click)="backStep()"
                label="Regresar"
                [outlined]="true"
                icon="pi pi-angle-left"
                iconPos="left"
            />
            <p-button
                (click)="nextStep()"
                label="Siguiente"
                icon="pi pi-angle-right"
                iconPos="right"
                [disabled]="!this.presenter.userOneStep2.valid || presenter.validatonForStudentTwo()"
            />
        </div>
    </form>
</div>
