<div class="grid" #cardBody>
    <div class="col-12">
        <p-card>
            <p-toolbar class="mt-3">
                <div class="p-toolbar-group-left">
                    <button
                        type="button"
                        pButton
                        icon="pi pi-plus"
                        label="nuevo Evento"
                        (click)="newEventDialog = true"
                    ></button>
                </div>

                <div class="p-toolbar-group-right">
                    <p style="margin: 0 1rem 0 0">Ver en intervalos de</p>
                    <form [formGroup]="slotDurationForm">
                        <p-dropdown
                            formControlName="slotDuration"
                            [options]="timeslots"
                            optionLabel="name"
                        />
                    </form>
                </div>
            </p-toolbar>
            <full-calendar
                class="mt-4"
                #calendar
                [options]="calendarOptions"
                [events]="events"
            ></full-calendar>
        </p-card>
    </div>
</div>

<p-dialog
    header="Detalle del Evento"
    [style]="{ width: '100rem', height: '100rem' }"
    [(visible)]="newEventDialog"
    [modal]="true"
    [closable]="true"
>
    <form [formGroup]="eventForm" (ngSubmit)="onSubmit()" class="p-fluid">
        <div class="p-grid p-formgrid">
            <div class="p-col-12 p-md-6">
                <span class="p-float-label">
                    <input
                        id="name_event"
                        type="text"
                        pInputText
                        formControlName="name_event"
                    />
                    <label for="name_event">Event Name</label>
                </span>
            </div>
            <div class="p-col-12 p-md-6">
                <span class="p-float-label">
                    <textarea
                        id="description"
                        pInputTextarea
                        formControlName="description"
                    ></textarea>
                    <label for="description">Description</label>
                </span>
            </div>
            <div class="p-col-12 p-md-6">
                <span class="p-float-label">
                    <p-calendar
                        id="start_date"
                        formControlName="start_date"
                        [showIcon]="true"
                        dateFormat="dd-mm-yy"
                        [showTime]="true"
                        [hourFormat]="12"
                    ></p-calendar>
                    <label for="start_date">Start Date</label>
                </span>
            </div>
            <div class="p-col-12 p-md-6">
                <span class="p-float-label">
                    <p-calendar
                        id="end_date"
                        formControlName="end_date"
                        [showIcon]="true"
                        dateFormat="dd-mm-yy"
                        [showTime]="true"
                        [hourFormat]="12"
                    ></p-calendar>
                    <label for="end_date">End Date</label>
                </span>
            </div>
            <div class="p-col-12 p-md-6">
                <span class="p-float-label">
                    <input
                        id="place"
                        type="text"
                        pInputText
                        formControlName="place"
                    />
                    <label for="place">Place</label>
                </span>
            </div>
            <!-- <div class="p-col-12 p-md-6">
                <span class="p-float-label">
                    <p-calendar
                        id="hour"
                        formControlName="hour"
                        [timeOnly]="true"
                    ></p-calendar>
                    <label for="hour">Hour</label>
                </span>
            </div> -->
            <div class="p-col-12 p-md-6">
                <p-multiSelect
                    [options]="directedAtOptions"
                    formControlName="directed_at"
                    optionLabel="name"
                    defaultLabel="Select directed at"
                ></p-multiSelect>
            </div>
            <div class="p-col-12 p-md-6">
                <span class="p-float-label">
                    <input
                        id="responsible"
                        type="text"
                        pInputText
                        formControlName="responsible"
                    />
                    <label for="responsible">Responsible</label>
                </span>
            </div>
        </div>

        <div formArrayName="rooms">
            <h3>Rooms</h3>
            <button
                pButton
                type="button"
                label="Add Room"
                (click)="addRoom()"
                class="p-button-secondary"
            ></button>
            <div
                *ngFor="let room of rooms.controls; let i = index"
                [formGroupName]="i"
                class="p-mt-3"
            >
                <p-fieldset>
                    <ng-template pTemplate="header">
                        Room {{ i + 1 }}
                        <button
                            pButton
                            type="button"
                            icon="pi pi-trash"
                            (click)="removeRoom(i)"
                            class="p-button-danger p-button-text"
                        ></button>
                    </ng-template>
                    <div class="p-grid p-formgrid">
                        <div class="p-col-12 p-md-6">
                            <span class="p-float-label">
                                <p-autoComplete
                                    formControlName="moderator_id"
                                    [suggestions]="filteredModerator"
                                    (completeMethod)="searchModerator($event)"
                                    [dropdown]="true"
                                    [forceSelection]="true"
                                    field="name"
                                    [dataKey]="'id'"
                                    [inputStyle]="{ width: '100%' }"
                                    [style]="{ width: '100%' }"
                                    placeholder="Seleccionar un moderador"
                                >
                                    <ng-template let-item pTemplate="item">
                                        {{ item.name }} {{ item.surnames }} ({{
                                            item.email
                                        }})
                                    </ng-template>
                                </p-autoComplete>
                                <label for="moderator_id_{{ i }}"
                                    >Moderator</label
                                >
                            </span>
                        </div>
                        <div class="p-col-12 p-md-6">
                            <span class="p-float-label">
                                <input
                                    id="room_number_{{ i }}"
                                    type="text"
                                    pInputText
                                    formControlName="room_number"
                                />
                                <label for="room_number_{{ i }}"
                                    >Room Number</label
                                >
                            </span>
                        </div>
                        <div class="p-col-12 p-md-6">
                            <span class="p-float-label">
                                <p-calendar
                                    id="start_time_{{ i }}"
                                    formControlName="start_time"
                                    [timeOnly]="true"
                                ></p-calendar>
                                <label for="start_time_{{ i }}"
                                    >Start Time</label
                                >
                            </span>
                        </div>
                        <div class="p-col-12 p-md-6">
                            <span class="p-float-label">
                                <p-calendar
                                    id="end_time_{{ i }}"
                                    formControlName="end_time"
                                    [timeOnly]="true"
                                ></p-calendar>
                                <label for="end_time_{{ i }}">End Time</label>
                            </span>
                        </div>
                        <div class="p-col-12">
                            <span class="p-float-label">
                                <textarea
                                    id="description_{{ i }}"
                                    pInputTextarea
                                    formControlName="description"
                                ></textarea>
                                <label for="description_{{ i }}"
                                    >Description</label
                                >
                            </span>
                        </div>
                    </div>

                    <div formArrayName="topics">
                        <h4>Topics</h4>
                        <button
                            pButton
                            type="button"
                            label="Add Topic"
                            (click)="addTopic(room)"
                            class="p-button-secondary"
                        ></button>
                        <div
                            *ngFor="
                                let topic of getTopics(room).controls;
                                let j = index
                            "
                            [formGroupName]="j"
                            class="p-mt-3"
                        >
                            <p-fieldset>
                                <ng-template pTemplate="header">
                                    Topic {{ j + 1 }}
                                    <button
                                        pButton
                                        type="button"
                                        icon="pi pi-trash"
                                        (click)="removeTopic(room, j)"
                                        class="p-button-danger p-button-text"
                                    ></button>
                                </ng-template>
                                <div class="p-grid p-formgrid">
                                    <div class="p-col-12">
                                        <span class="p-float-label">
                                            <p-autoComplete
                                                formControlName="title"
                                                [suggestions]="filteredTopics"
                                                (completeMethod)="
                                                    searchTopics($event)
                                                "
                                                [dropdown]="true"
                                                [forceSelection]="true"
                                                field="title"
                                                [dataKey]="'title'"
                                                [inputStyle]="{ width: '100%' }"
                                                [style]="{ width: '100%' }"
                                                placeholder="Select a title"
                                            >
                                            </p-autoComplete>
                                            <label for="title_{{ i }}_{{ j }}"
                                                >Title</label
                                            >
                                        </span>
                                    </div>
                                    <div class="p-col-12 p-md-6">
                                        <span class="p-float-label">
                                            <p-calendar
                                                id="start_time_{{ i }}_{{ j }}"
                                                formControlName="start_time"
                                                [timeOnly]="true"
                                            ></p-calendar>
                                            <label
                                                for="start_time_{{ i }}_{{ j }}"
                                                >Start Time</label
                                            >
                                        </span>
                                    </div>
                                    <div class="p-col-12 p-md-6">
                                        <span class="p-float-label">
                                            <p-calendar
                                                id="end_time_{{ i }}_{{ j }}"
                                                formControlName="end_time"
                                                [timeOnly]="true"
                                            ></p-calendar>
                                            <label
                                                for="end_time_{{ i }}_{{ j }}"
                                                >End Time</label
                                            >
                                        </span>
                                    </div>
                                </div>
                            </p-fieldset>
                        </div>
                    </div>
                </p-fieldset>
            </div>
        </div>

        <div class="p-mt-4">
            <button pButton type="submit" label="Submit"></button>
        </div>
    </form>
</p-dialog>

<p-dialog
    header="Detalle del evento"
    [style]="{ width: '100rem', height: '100rem' }"
    [(visible)]="eventDetail"
    [modal]="true"
    [closable]="true"
>
    <div *ngIf="eventSelected" class="p-grid">
        <div class="p-col-12">
            <p-card>
                <ng-template pTemplate="header">
                    <h2 class="p-text-center">
                        {{ eventSelected.event._def.extendedProps.event_detail.name_event }}
                    </h2>
                </ng-template>
                <div class="p-grid">
                    <div class="p-col-12 p-md-6">
                        <p>
                            <strong>Descripción:</strong>
                            {{ eventSelected.event._def.extendedProps.event_detail.description }}
                        </p>
                        <p>
                            <strong>Fecha:</strong>
                            {{ eventSelected.event._def.extendedProps.event_detail.start_date }} -
                            {{ eventSelected.event._def.extendedProps.event_detail.end_date }}
                        </p>
                        <p><strong>Hora:</strong> {{ eventSelected.event._def.extendedProps.event_detail.start_time }} - 
                        {{  eventSelected.event._def.extendedProps.event_detail.end_time }}</p>
                        <p><strong>Lugar:</strong> {{ eventSelected.event._def.extendedProps.event_detail.place }}</p>
                    </div>
                    <div class="p-col-12 p-md-6">
                        <p>
                            <strong>Dirigido a:</strong>
                            {{ eventSelected.event._def.extendedProps.event_detail.directed_at }}
                        </p>
                        <p>
                            <strong>Responsable:</strong>
                            {{ eventSelected.event._def.extendedProps.event_detail.responsible }}
                        </p>
                        <p>
                            <strong>Fecha de registro:</strong>
                            {{ eventSelected.event._def.extendedProps.event_detail.created_at }}
                        </p>
                    </div>
                </div>
            </p-card>
        </div>

        <div class="p-col-12">
            <p-accordion [multiple]="true">
                <p-accordionTab
                    *ngFor="let room of eventSelected.event._def.extendedProps.event_detail.rooms"
                    [header]="'Sala ' + room.room_number"
                >
                    <div class="p-grid">
                        <div class="p-col-12 p-md-6">
                            <p>
                                <strong>Moderador:</strong>
                                {{
                                    room.moderator.name +
                                        " " +
                                        room.moderator.surnames
                                }}
                            </p>
                            <p>
                                <strong>Hora de inicio:</strong>
                                {{ room.start_time }}
                            </p>
                            <p>
                                <strong>Hora de fin:</strong>
                                {{ room.end_time }}
                            </p>
                        </div>
                        <div class="p-col-12 p-md-6">
                            <p>
                                <strong>Descripción:</strong>
                                {{ room.description }}
                            </p>
                            <!-- <p><strong>Fecha de registro:</strong> {{ room.created_at }}</p> -->
                        </div>
                    </div>

                    <p-table [value]="room.topics" [responsive]="true">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Título</th>
                                <th>Hora de inicio</th>
                                <th>Hora de fin</th>
                                <th>Autor(es)</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-topic>
                            <tr>
                                <td>{{ topic.title }}</td>
                                <td>{{ topic.start_time }}</td>
                                <td>{{ topic.end_time }}</td>
                                <td>
                                    <p-chip
                                        *ngFor="let author of topic.authors"
                                        [label]="
                                            author.name + ' ' + author.surnames
                                        "
                                        class="p-mr-2"
                                    ></p-chip>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-accordionTab>
            </p-accordion>
        </div>
    </div>
</p-dialog>
