<p-toast key="tst"></p-toast>
<div *ngIf="!advisorySelected" class="grid">
    <div class="col-12">
        <app-breadcrumb [items]="breadcrumbItems"></app-breadcrumb>
        <div class="card px-6 py-6">
            <div [ngSwitch]="getStatusList">
                <ng-template [ngSwitchCase]="'charging'">
                    <ng-container
                        *ngTemplateOutlet="skeletonAdvisoryList"
                    ></ng-container>
                </ng-template>
                <ng-template [ngSwitchCase]="'error'">
                    <ng-container
                        *ngTemplateOutlet="advisoryListError"
                    ></ng-container>
                </ng-template>
                <ng-template [ngSwitchCase]="'complete'">
                    <ng-container
                        *ngTemplateOutlet="AdvisoryList"
                    ></ng-container>
                </ng-template>
                <ng-template ngSwitchDefault>
                    <p>Invalid state</p>
                </ng-template>
            </div>
            <ng-template #AdvisoryList>
                <div class="card">
                    <p-table
                        #dt
                        [value]="registros"
                        responsiveLayout="scroll"
                        [rows]="10"
                        [globalFilterFields]="[
                            'degree_processes.thesis_project_title'
                        ]"
                        [paginator]="true"
                        [rowsPerPageOptions]="[10, 20, 30]"
                        [showCurrentPageReport]="true"
                        currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} registros"
                        [(selection)]="selectedProducts"
                        selectionMode="multiple"
                        [rowHover]="true"
                        dataKey="id"
                    >
                        <ng-template pTemplate="caption">
                            <div
                                class="flex flex-column md:flex-row md:justify-content-between md:align-items-center"
                            >
                                <h5 class="m-0">Seguimiento de asesorías</h5>
                                <span
                                    class="block mt-2 md:mt-0 p-input-icon-left"
                                >
                                    <i class="pi pi-search"></i>
                                    <input
                                        pInputText
                                        type="text"
                                        (input)="onGlobalFilter(dt, $event)"
                                        placeholder="Buscar por título..."
                                        class="w-full sm:w-auto"
                                    />
                                </span>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th
                                    pSortableColumn="thesis_project_title"
                                    style="width: 60%"
                                >
                                    Título de tesis
                                    <p-sortIcon
                                        field="thesis_project_title"
                                    ></p-sortIcon>
                                </th>
                                <th pSortableColumn="nombre" style="width: 20%">
                                    Asesor
                                    <p-sorIcon field="nombre"></p-sorIcon>
                                </th>
                                <th style="width: 10%">Estado</th>
                                <th style="width: 10%"></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-data>
                            <tr>
                                <td style="width: 14%; min-width: 10rem">
                                    <span class="p-column-title"
                                        >Título de tesis</span
                                    >
                                    {{
                                        data.degree_processes
                                            .thesis_project_title
                                    }}
                                </td>
                                <td style="width: 14%; min-width: 8rem">
                                    <div *ngIf="data.reviewer.length < 1">
                                        sin asignar
                                    </div>
                                    <div *ngIf="data.reviewer.length > 0">
                                        {{
                                            data.reviewer[0].name +
                                                " " +
                                                data.reviewer[0].surnames
                                        }}
                                    </div>
                                </td>
                                <td style="width: 14%; min-width: 10rem">
                                    <span class="p-column-title">estado</span>
                                    <span
                                        [class]="
                                            'product-badge status-' +
                                            (data.status
                                                ? data.status.toLowerCase()
                                                : '')
                                        "
                                        >{{ data.status }}</span
                                    >
                                </td>
                                <td>
                                    <div class="flex">
                                        <p-button
                                            label="Ver detalle"
                                            [outlined]="true"
                                            severity="contrast"
                                            (click)="
                                                viewDetailsInscription(data)
                                            "
                                        />

                                        <!-- <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editProduct(product)"></button>
                                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteProduct(product)"></button> -->
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </ng-template>

            <ng-template #skeletonAdvisoryList>
                <app-skeleton-table
                    [columnTitles]="columnTitles"
                    [skeletonCount]="skeletonRows"
                ></app-skeleton-table>
            </ng-template>
            <ng-template #advisoryListError>
                <app-card-error
                    [message]="messageError"
                    (reload)="handleReload($event)"
                ></app-card-error>
            </ng-template>
        </div>
    </div>
</div>
<p-confirmDialog>
    <ng-template pTemplate="message" let-message>
        <div
            class="flex flex-column align-items-center w-full gap-3 border-bottom-1 surface-border"
        >
            <i class="pi pi-exclamation-circle text-6xl text-primary-500"></i>
            <p>{{ message.message }}</p>
        </div>
    </ng-template>
</p-confirmDialog>
<div *ngIf="advisorySelected && !requiereMoreInfo" class="grid">
    <div class="col-12">
        <app-breadcrumb [items]="detailBreadcrumbItems"></app-breadcrumb>
        <div class="card">
            <div class="grid d-flex col-12">
                <div class="mr-auto p-2">
                    <p-button
                        (click)="backList()"
                        label="Regresar"
                        [outlined]="true"
                        icon="pi pi-angle-left"
                        iconPos="left"
                    />
                    <p-button
                        *ngIf="
                            !showEdit &&
                            advisoryState !== 'Cancelado' &&
                            advisoryState !== 'Aprobado'
                        "
                        class="ml-3"
                        (click)="showEdition()"
                        label="Editar"
                        icon="pi pi-pencil"
                        iconPos="left"
                    />
                    <p-button
                        *ngIf="
                            showEdit &&
                            advisoryState !== 'Cancelado' &&
                            advisoryState !== 'Aprobado'
                        "
                        class="ml-3"
                        (click)="cancelEdition()"
                        label="Cancelar edición"
                        icon="pi pi-times"
                        iconPos="right"
                    />
                    <p-button
                        *ngIf="
                            showEdit &&
                            advisoryState !== 'Cancelado' &&
                            advisoryState !== 'Aprobado'
                        "
                        class="ml-3"
                        (click)="saveEdition()"
                        label="Guardar cambios"
                        icon="pi pi-save"
                        iconPos="left"
                    />
                </div>
                <div class="p-2">
                    <p-button
                        *ngIf="
                            advisoryState !== 'Cancelado' &&
                            advisoryState !== 'Aprobado' &&
                            !showEdit
                        "
                        label="Cancelar asesoría"
                        [outlined]="true"
                        class="mr-3"
                        icon="pi pi-times"
                        iconPos="left"
                        severity="danger"
                        (click)="goToCancelation()"
                    />
                    <p-button
                        *ngIf="
                            (advisoryState === 'En Asesoría' ||
                                advisoryState === 'Observado') &&
                            !showEdit
                        "
                        label="Pasar a revisión"
                        [outlined]="true"
                        icon="pi pi-angle-right"
                        iconPos="right"
                        severity="info"
                        (click)="goToReview()"
                    />
                    <p-button
                        *ngIf="advisoryState === 'En Revisión' && !showEdit"
                        label="Observado"
                        [outlined]="true"
                        icon="pi pi-exclamation-circle"
                        iconPos="left"
                        severity="warning"
                        (click)="goToObserved()"
                    />
                    <p-button
                        *ngIf="advisoryState === 'En Revisión' && !showEdit"
                        class="ml-3"
                        label="Aprobado"
                        [outlined]="true"
                        icon="pi pi-angle-right"
                        iconPos="right"
                        (click)="goToApprove()"
                    />
                </div>
            </div>
            <div class="card flex justify-content-center col-12">
                <h5
                    class="font-bold text-color"
                    style="font-family: revert; text-align: center"
                >
                    {{ advisorySelected.degree_processes.thesis_project_title }}
                </h5>
            </div>
            <div class="grid col-12">
                <div class="col-12 col-md-3">
                    <p class="font-bold">Nro de expediente:</p>
                    <p>{{ advisorySelected.degree_processes.file }}</p>
                </div>
                <div class="col-12 col-md-3">
                    <p class="font-bold">Escuala profesional:</p>
                    <p>
                        {{
                            advisorySelected.degree_processes
                                .professional_school
                        }}
                    </p>
                </div>
                <div class="col-12 col-md-3">
                    <p class="font-bold">Nro de oficio:</p>
                    <p>{{ advisorySelected.degree_processes.office_number }}</p>
                </div>
                <div class="col-12 col-md-3">
                    <p class="font-bold">Nro de resolución:</p>
                    <p>
                        {{
                            advisorySelected.degree_processes.resolution_number
                        }}
                    </p>
                </div>
            </div>
            <div *ngIf="!showEdit">
                <div class="grid col-12">
                    <div class="col-12 col-md-3">
                        <p class="font-bold">
                            Fecha de recepción de la asesoría a Facultad:
                        </p>
                        <p>
                            <i class="pi pi-calendar"></i>
                            {{ advisorySelected.reception_date_faculty }}
                        </p>
                    </div>
                    <div class="col-12 col-md-3">
                        <p class="font-bold">
                            Fecha de aprobación a asesoría UDI:
                        </p>
                        <p>
                            <i class="pi pi-calendar"></i>
                            {{ advisorySelected.approval_date_udi }}
                        </p>
                    </div>
                    <div class="col-12 col-md-3">
                        <p class="font-bold">Fecha de pago:</p>
                        <p>
                            <i class="pi pi-calendar"></i>
                            {{ advisorySelected.payment_date }}
                        </p>
                    </div>
                    <div class="card col-12 col-md-3" style="max-height: 100px">
                        <p class="font-bold">Estado:</p>
                        <p-tag
                            *ngIf="advisoryState === 'En Asesoría'"
                            value="En asesoría"
                        />
                        <p-tag
                            *ngIf="advisoryState === 'En Revisión'"
                            severity="info"
                            value="En revisión"
                        />
                        <p-tag
                            *ngIf="advisoryState === 'Observado'"
                            severity="warning"
                            value="Observado"
                        />
                        <p-tag
                            *ngIf="advisoryState === 'Cancelado'"
                            severity="danger"
                            value="Cancelado"
                        />
                        <p-tag
                            *ngIf="advisoryState === 'Aprobado'"
                            value="Aprobado"
                        />
                    </div>
                </div>
                <div class="grid col-12">
                    <div class="col-12 col-md-3">
                        <p class="font-bold">Fecha de envío a secretaría:</p>
                        <p>
                            <i class="pi pi-calendar"></i>
                            {{ advisorySelected.shipment_date_secretary }}
                        </p>
                    </div>
                    <div class="col-12 col-md-3">
                        <p class="font-bold">Nro de informe:</p>
                        <p>
                            {{ advisorySelected.report }}
                        </p>
                    </div>
                    <div class="col-12 col-md-3">
                        <p class="font-bold">Fecha de resolución:</p>
                        <p>
                            <i class="pi pi-calendar"></i>
                            {{ advisorySelected.resolution_date }}
                        </p>
                    </div>
                    <div class="col-12 col-md-3">
                        <p class="font-bold">Inicio de asesoría:</p>
                        <p>
                            <i class="pi pi-calendar"></i>
                            {{ advisorySelected.start_date_advisory }}
                        </p>
                    </div>
                </div>
                <div class="grid col-12">
                    <div class="col-12 col-md-3">
                        <p class="font-bold">Fin de asesoría:</p>
                        <p>
                            <i class="pi pi-calendar"></i>
                            {{ advisorySelected.end_date_advisory }}
                        </p>
                    </div>
                </div>
            </div>

            <form *ngIf="showEdit" [formGroup]="editForm">
                <div class="grid col-12">
                    <div class="col-12 col-md-3">
                        <p class="font-bold">
                            Fecha de recepción de la asesoría a Facultad:
                        </p>
                        <div class="grid p-fluid">
                            <div class="col-12 md:col-12">
                                <p-calendar
                                    formControlName="advisoryReceptionDateToFacultyMI"
                                    placeholder="Seleccione una fecha"
                                    [iconDisplay]="'input'"
                                    class="full-width"
                                    [showIcon]="true"
                                    dateFormat="dd-mm-yy"
                                    inputId="icondisplay"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <p class="font-bold">
                            Fecha de aprobación a asesoría UDI:
                        </p>
                        <div class="grid p-fluid">
                            <div class="col-12 md:col-12">
                                <p-calendar
                                    formControlName="advisoryApprovalDateUDIMI"
                                    placeholder="Seleccione una fecha"
                                    [iconDisplay]="'input'"
                                    class="full-width"
                                    [showIcon]="true"
                                    dateFormat="dd-mm-yy"
                                    inputId="icondisplay"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <p class="font-bold">Fecha de pago:</p>
                        <div class="grid p-fluid">
                            <div class="col-12 md:col-12">
                                <p-calendar
                                    formControlName="paymentDateMI"
                                    placeholder="Seleccione una fecha"
                                    [iconDisplay]="'input'"
                                    class="full-width"
                                    [showIcon]="true"
                                    dateFormat="dd-mm-yy"
                                    inputId="icondisplay"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="card col-12 col-md-3" style="max-height: 100px">
                        <p class="font-bold">Estado:</p>
                        <p-tag
                            *ngIf="advisoryState === 'En Asesoría'"
                            value="En asesoría"
                        />
                        <p-tag
                            *ngIf="advisoryState === 'En revisión'"
                            severity="info"
                            value="En revisión"
                        />
                        <p-tag
                            *ngIf="advisoryState === 'Observado'"
                            severity="warning"
                            value="Observado"
                        />
                        <p-tag
                            *ngIf="advisoryState === 'Cancelado'"
                            severity="danger"
                            value="Cancelado"
                        />
                        <p-tag
                            *ngIf="advisoryState === 'Aprobado'"
                            value="Aprobado"
                        />
                    </div>
                </div>
                <div class="grid col-12">
                    <div class="col-12 col-md-3">
                        <p class="font-bold">Fecha de envío a secretaría:</p>
                        <div class="grid p-fluid">
                            <div class="col-12 md:col-12">
                                <p-calendar
                                    formControlName="submissionDateToSecretariatMI"
                                    placeholder="Seleccione una fecha"
                                    [iconDisplay]="'input'"
                                    class="full-width"
                                    [showIcon]="true"
                                    dateFormat="dd-mm-yy"
                                    inputId="icondisplay"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <p class="font-bold">Nro de informe:</p>
                        <input
                            formControlName="reportNumberMI"
                            type="text"
                            pInputText
                            placeholder="Complete la información"
                            class="full-width"
                        />
                    </div>
                    <div class="col-12 col-md-3">
                        <p class="font-bold">Fecha de resolución:</p>
                        <div class="grid p-fluid">
                            <div class="col-12 md:col-12">
                                <p-calendar
                                    formControlName="resolutionDateMI"
                                    placeholder="Seleccione una fecha"
                                    [iconDisplay]="'input'"
                                    class="full-width"
                                    [showIcon]="true"
                                    dateFormat="dd-mm-yy"
                                    inputId="icondisplay"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <p class="font-bold">Inicio de asesoría:</p>
                        <div class="grid p-fluid">
                            <div class="col-12 md:col-12">
                                <p-calendar
                                    formControlName="advisoryStartDate"
                                    placeholder="Seleccione una fecha"
                                    [iconDisplay]="'input'"
                                    class="full-width"
                                    [showIcon]="true"
                                    dateFormat="dd-mm-yy"
                                    inputId="icondisplay"
                                />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid col-12">
                    <div class="col-12 col-md-3">
                        <p class="font-bold">Fin de asesoría:</p>
                        <div class="grid p-fluid">
                            <div class="col-12 md:col-12">
                                <p-calendar
                                    formControlName="advisoryEndDate"
                                    placeholder="Seleccione una fecha"
                                    [iconDisplay]="'input'"
                                    class="full-width"
                                    [showIcon]="true"
                                    dateFormat="dd-mm-yy"
                                    inputId="icondisplay"
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="ml-2 mr-2 separator"></div>
            <div class="grid col-12">
                <div class="col-12 col-md-6">
                    <div>
                        <p>Asesor de tesis</p>
                        <app-user-selection
                            #userSelection
                            [typeUserList]="reviewerType"
                            maxUsersAllow="1"
                            [usersPreSelected]="advisory.value"
                            (userSelected)="getTeacherSelected($event)"
                            [disabled]="!showEdit"
                        >
                        </app-user-selection>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div>
                        <p>Estudiante(s)</p>
                        <app-user-selection
                            #userSelection
                            [typeUserList]="studentType"
                            maxUsersAllow="2"
                            (userSelected)="getStudentSelected($event)"
                            [usersPreSelected]="students.value"
                            [disabled]="true"
                        >
                        </app-user-selection>
                    </div>
                </div>
            </div>

            <div class="ml-2 mr-2 separator"></div>
            <div class="grid col-12">
                <app-task-list
                    class="full-width"
                    [idModule]="advisorySelected.id"
                    [module]="module"
                    [visible]="
                        advisoryState !== 'Renuncia' &&
                        advisoryState !== 'Aprobado'
                            ? true
                            : false
                    "
                    [chbDisable]="
                        advisoryState !== 'Renuncia' &&
                        advisoryState !== 'Aprobado'
                            ? false
                            : true
                    "
                ></app-task-list>
                <div class="ml-2 mr-2 separator"></div>
                <app-file-list
                    class="w-full"
                    [module]="module"
                    [id]="advisorySelected.id"
                    (addArchiveClicked)="showDialogAddFile()"
                    [reload]="reloadFiles"
                    [clear]="clearFiles"
                >
                </app-file-list>
                <div class="ml-2 mr-2 separator"></div>
                <app-comments
                    class="w-full"
                    [module]="module"
                    [id]="advisorySelected.id"
                    [visible]="commentsVisible"
                ></app-comments>
            </div>
        </div>
    </div>
</div>

<div *ngIf="advisorySelected && requiereMoreInfo" class="grid">
    <div class="col-12">
        <app-breadcrumb [items]="detailBreadcrumbItems"></app-breadcrumb>
        <div class="card">
            <div class="grid d-flex col-12">
                <div class="mr-auto p-2">
                    <p-button
                        (click)="backList()"
                        label="Regresar"
                        [outlined]="true"
                        icon="pi pi-angle-left"
                        iconPos="left"
                    />
                </div>
                <div class="p-2">
                    <p-button
                        class="ml-3"
                        (click)="saveMoreInfo()"
                        label="Guardar"
                        icon="pi pi-save"
                        iconPos="left"
                        [disabled]="!moreInfoForm.valid || !advisoryForm.valid"
                    />
                </div>
            </div>
            <div class="card flex justify-content-center col-12">
                <h5
                    class="font-bold text-color"
                    style="font-family: revert; text-align: center"
                >
                    {{ advisorySelected.degree_processes.thesis_project_title }}
                </h5>
            </div>
            <p-messages
                [(value)]="messageMoreInfo"
                [enableService]="false"
                [closable]="false"
            />
            <div class="grid col-12">
                <div class="col-12 col-md-3">
                    <p class="font-bold">Nro de expediente:</p>
                    <p>{{ advisorySelected.degree_processes.file }}</p>
                </div>
                <div class="col-12 col-md-3">
                    <p class="font-bold">Escuela profesional:</p>
                    <p>
                        {{
                            advisorySelected.degree_processes
                                .professional_school
                        }}
                    </p>
                </div>
                <div class="col-12 col-md-3">
                    <p class="font-bold">Nro de oficio:</p>
                    <p>{{ advisorySelected.degree_processes.office_number }}</p>
                </div>
                <div class="col-12 col-md-3">
                    <p class="font-bold">Nro de resolución:</p>
                    <p>
                        {{
                            advisorySelected.degree_processes.resolution_number
                        }}
                    </p>
                </div>
            </div>
            <form [formGroup]="moreInfoForm">
                <div class="grid col-12">
                    <div class="col-12 col-md-3">
                        <p class="font-bold">
                            Fecha de recepción de la asesoría a Facultad:
                        </p>
                        <div class="grid p-fluid">
                            <div class="field col-12 md:col-12">
                                <p-calendar
                                    formControlName="advisoryReceptionDateToFacultyMI"
                                    placeholder="Seleccione una fecha"
                                    [iconDisplay]="'input'"
                                    class="full-width"
                                    [showIcon]="true"
                                    dateFormat="dd-mm-yy"
                                    inputId="icondisplay"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <p class="font-bold">
                            Fecha de aprobación a asesoría UDI:
                        </p>
                        <div class="grid p-fluid">
                            <div class="field col-12 md:col-12">
                                <p-calendar
                                    formControlName="advisoryApprovalDateUDIMI"
                                    placeholder="Seleccione una fecha"
                                    [iconDisplay]="'input'"
                                    class="full-width"
                                    [showIcon]="true"
                                    dateFormat="dd-mm-yy"
                                    inputId="icondisplay"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <p class="font-bold">Fecha de pago:</p>
                        <div class="grid p-fluid">
                            <div class="field col-12 md:col-12">
                                <p-calendar
                                    formControlName="paymentDateMI"
                                    placeholder="Seleccione una fecha"
                                    [iconDisplay]="'input'"
                                    class="full-width"
                                    [showIcon]="true"
                                    dateFormat="dd-mm-yy"
                                    inputId="icondisplay"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <p class="font-bold">Fecha de envío a secretaría:</p>
                        <div class="grid p-fluid">
                            <div class="field col-12 md:col-12">
                                <p-calendar
                                    formControlName="submissionDateToSecretariatMI"
                                    placeholder="Seleccione una fecha"
                                    [iconDisplay]="'input'"
                                    class="full-width"
                                    [showIcon]="true"
                                    dateFormat="dd-mm-yy"
                                    inputId="icondisplay"
                                />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid col-12">
                    <div class="col-12 col-md-3">
                        <p class="font-bold">Nro de informe:</p>
                        <input
                            formControlName="reportNumberMI"
                            type="text"
                            pInputText
                            placeholder="Complete la información"
                            class="full-width"
                        />
                    </div>
                    <div class="col-12 col-md-3">
                        <p class="font-bold">Fecha de resolución:</p>
                        <div class="grid p-fluid">
                            <div class="field col-12 md:col-12">
                                <p-calendar
                                    formControlName="resolutionDateMI"
                                    placeholder="Seleccione una fecha"
                                    [iconDisplay]="'input'"
                                    class="full-width"
                                    [showIcon]="true"
                                    dateFormat="dd-mm-yy"
                                    inputId="icondisplay"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <p class="font-bold">Inicio de asesoría:</p>
                        <div class="grid p-fluid">
                            <div class="field col-12 md:col-12">
                                <p-calendar
                                    formControlName="advisoryStartDate"
                                    placeholder="Seleccione una fecha"
                                    [iconDisplay]="'input'"
                                    class="full-width"
                                    [showIcon]="true"
                                    dateFormat="dd-mm-yy"
                                    inputId="icondisplay"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <p class="font-bold">Fin de asesoría:</p>
                        <div class="grid p-fluid">
                            <div class="field col-12 md:col-12">
                                <p-calendar
                                    formControlName="advisoryEndDate"
                                    placeholder="Seleccione una fecha"
                                    [iconDisplay]="'input'"
                                    class="full-width"
                                    [showIcon]="true"
                                    dateFormat="dd-mm-yy"
                                    inputId="icondisplay"
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <div class="ml-2 mr-2 separator"></div>
            <div class="grid col-12">
                <div class="col-12">
                    <p>Por favor asigne un asesor de tesis</p>
                    <form [formGroup]="advisoryForm">
                        <app-user-selection
                            #userSelection
                            formControlName="advisory"
                            [typeUserList]="reviewerType"
                            maxUsersAllow="1"
                            (userSelected)="getTeacherSelected($event)"
                        >
                        </app-user-selection>
                    </form>
                </div>
                <div class="col-12" style="margin-top: -30px">
                    <p>Estudiante(s)</p>
                    <app-user-selection
                        #studentsView
                        [typeUserList]="studentType"
                        maxUsersAllow="1"
                        [usersPreSelected]="students.value"
                        [disabled]="true"
                    >
                    </app-user-selection>
                </div>
            </div>
        </div>
    </div>
</div>
<p-sidebar
    [(visible)]="showDialogCancel"
    [style]="{ width: '40%' }"
    position="right"
>
    <ng-template pTemplate="header">
        <span class="font-semibold text-xl">Confirmación de cancelación</span>
    </ng-template>
    <div class="content">
        <div class="grid" style="height: 100%">
            <form [formGroup]="cancelattionForm" class="col-12">
                <div class="col-12">
                    <p class="font-bold">
                        Por favor digite el motivo de la cancelación:
                    </p>

                    <textarea
                        inputId="textarea"
                        rows="5"
                        style="width: 100%"
                        formControlName="cancelationComment"
                        pInputTextarea
                    ></textarea>
                </div>
                <p-messages
                    [(value)]="alertForCancelation"
                    [enableService]="false"
                    [closable]="false"
                />
                <div class="footer mt-5">
                    <button
                        pButton
                        pRipple
                        label="Regresar"
                        icon="pi pi-angle-left"
                        class="p-button-text"
                        iconPos="left"
                        (click)="hideCancelDialog()"
                    ></button>

                    <p-button
                        label="Confirmar cancelación"
                        iconPos="right"
                        icon="pi pi-check"
                        severity="danger"
                        (click)="confirmCancelation()"
                        [disabled]="!cancelattionForm.valid"
                    />
                </div>
            </form>
        </div>
    </div>
</p-sidebar>
<p-sidebar
    [(visible)]="showDialogAddFiles"
    [style]="{ width: '40%' }"
    position="right"
>
    <ng-template pTemplate="header">
        <span class="font-semibold text-xl">Agregar archivos adjuntos</span>
    </ng-template>
    <div class="content">
        <div class="grid" style="height: 100%">
            <div class="col-12">
                <app-upload-archives
                    #upload
                    (onFileChangeEmitter)="onFileChange($event)"
                    (clearFilesEmitter)="clearFile()"
                >
                </app-upload-archives>
            </div>
            <div class="footer mt-5">
                <button
                    pButton
                    pRipple
                    label="Regresar"
                    icon="pi pi-angle-left"
                    class="p-button-text"
                    iconPos="left"
                    (click)="hideAddFilesDialog()"
                ></button>
                <p-button
                    label="Guardar archivos"
                    iconPos="right"
                    icon="pi pi-check"
                    (click)="saveFiles()"
                    [disabled]="!isFormDataEmpty(formData)"
                />
            </div>
        </div>
    </div>
</p-sidebar>
