.font-bold {
    font-weight: bold;
}

.separator {
    border: 1px solid #dfe7ef; width: 95%;
}

.task-done {
    text-decoration: line-through;
}

.divider-aditional-class {
    margin-top: -20px; 
    padding: 0 !important;
}

.text-align-center {
    text-align: center;
}

.align-content-center {
    align-content: center;
}
.full-width {
    width: 100%;
}