<div class="grid">
  <div class="col-12">
    <p-card>
      <p-toolbar class="mt-3">
        <div class="p-toolbar-group-left">
          <button type="button" pButton icon="pi pi-plus" label="Añadir Evento"
            (click)="displayDialog=true"></button>
        </div>

        <div class="p-toolbar-group-right">
          <p style="margin: 0 1rem 0 0;">Ver en intervalos de</p>
          <form [formGroup]="slotDurationForm">

            <p-dropdown
              formControlName="slotDuration"
              [options]="timeslots"
              optionLabel="name" />
          </form>
        </div>
      </p-toolbar>
      <full-calendar
        class="mt-4"
        #calendar
        [options]="calendarOptions"
        [events]="events"></full-calendar>
    </p-card>
  </div>
</div>

<p-dialog header="Añadir Evento" [style]="{ width: '60rem' }"
  [(visible)]="displayDialog" [modal]="true" [closable]="false">
  <div class="content">
    <form [formGroup]="eventForm">
      <div class="p-fluid grid field mt-4">
        <p-floatLabel class="col-8">
          <input id="title" type="text" pInputText formControlName="title" />
          <label for="title">Título</label>
        </p-floatLabel>
        <div class="col-4 d-flex m-auto">
          <p-colorPicker formControlName="color" />
          <p class="m-auto">Elija el color del evento</p>
          
        </div>
      </div>
      <div class="grid p-fluid field mt-4">
        <div class="col-6">
          <p>Inicio</p>
          <p-calendar
            formControlName="start"
            dateFormat="yy-mm-dd"
            class="max-w-full"
            [inline]="true"
            [showTime]="true"
            [hourFormat]="24" />
        </div>
        <div class="col-6">
          <p>Fin</p>
          <p-calendar
            formControlName="start"
            dateFormat="yy-mm-dd"
            class="max-w-full"
            [inline]="true"
            [showTime]="true"
            [hourFormat]="24" />
        </div>

      </div>
      <div class="footer mt-5">
        <button
          pButton
          pRipple
          label="Regresar"
          icon="pi pi-angle-left"
          class="p-button-text"
          iconPos="left"
          (click)="displayDialog=false"></button>

        <p-button label="Registrar" iconPos="right"
          icon="pi pi-check"
          [disabled]="eventForm.invalid"
          (click)="addEvent()" />

      </div>
    </form>
  </div>
  <!-- <form [formGroup]="eventForm" (ngSubmit)="addEvent()">
    <div class="p-fluid">
      <div class="p-field">
        <label for="title">Título</label>
        <input id="title" type="text" pInputText formControlName="title" />
      </div>
      <div class="p-field">
        <label for="start">Inicio</label>
        <p-calendar id="start" formControlName="start" dateFormat="yy-mm-dd"
          showTime="true" hourFormat="24"></p-calendar>
      </div>
      <div class="p-field">
        <label for="end">Fin</label>
        <p-calendar id="end" formControlName="end" dateFormat="yy-mm-dd"
          showTime="true" hourFormat="24"></p-calendar>
      </div>
      <div class="p-field">
        <button type="submit" pButton label="Guardar" icon="pi pi-check"
          [disabled]="eventForm.invalid"></button>
        <button type="button" pButton label="Cancelar" icon="pi pi-times"
          class="p-button-secondary" (click)="displayDialog=false"></button>
      </div>
    </div>
  </form> -->
</p-dialog>

<p-dialog header="Detalle del Evento"
  [style]="{ width: '100rem', height: '100rem' }"
  [(visible)]="showEventDetailDoalog" [modal]="true" [closable]="true"
  [maximizable]="true">
</p-dialog>