<app-loader></app-loader>
<p-dialog
    header="Hola, ¿sigues ahí?"
    [(visible)]="displayModal"
    modal="true"
    [closable]="false"
    [dismissableMask]="false"
    [draggable]="false"
    [resizable]="false"
    [style]="{ width: '30vw' }"
>
    <p>
        <i class="pi pi-exclamation-circle" style="font-size: 1rem"></i>
        Por seguridad, tu sesión sesión se cerrará automáticamente.
        <br>
    </p><b style="font-size: 1.3rem;" >{{ remainingTime }}</b> segundos.
    <p-footer>
        <button
        type="button"
        pButton
        label="Cerrar sesión"
        severity="danger"
        (click)="logOut()"
    ></button>
        <button
            type="button"
            pButton
            label="Seguir conectado"
            icon="pi pi-check"
            (click)="keepConnected()"
        ></button>
    </p-footer>
</p-dialog>
<router-outlet></router-outlet>
