.card-error-comments {
    background: rgba(254, 242, 242, 0.95);
    //border: solid #fecaca;
    //border-width: 1px;
    color: #dc2626;
    border-radius: 5px;
    padding: 0.5rem 0.75rem;
}

.content-comment-error {
    align-items: center;
}