<div class="layout-topbar">
    <a class="layout-topbar-logo">
        <!--<img src="assets/layout/images/{{layoutService.config().colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.svg" alt="logo">-->
        <img src="assets/img/{{layoutService.config().colorScheme === 'light' ? 'logo-uch' : 'logo-uch-dark'}}.png"alt="logo">
        <b style="font-weight: 800;">UDI</b>
    </a>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        <button style="color: var(--text-color-secondary); border-radius: 50%;
        width: 3rem;
        height: 3rem;
        cursor: pointer;
    transition: background-color 0.2s;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    " class="p-link mt-2 mr-2">
            <i class="pi pi-bell text-3xl" pBadge value="2"></i>
        </button>
        <p-avatar 
            label="G" 
            styleClass="ml-3" 
            size="large" />
        <!--<button class="p-link layout-topbar-button" [routerLink]="'/documentation'">
            <i class="pi pi-cog"></i>
            <span>Settings</span>
        </button>-->
    </div>
</div>