.full-width {
    width: 100%;
}

input[type=file] {
  color: transparent;
}

.custom-file-input {
  height: 36px;
  max-height: 36px;
  display: inline-block;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.custom-file-input:hover {
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.custom-file-input:focus {
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.custom-file-input::file-selector-button {
  display: none; /* Ocultar el botón predeterminado del input de archivo */
}

.custom-file-input::before {
  content: "Seleccionar el artículo de investigación";
  display: block;
  color: #333;  
}