<p-toast key="tst"></p-toast>
<div
    class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden background-uch"
>
    <div class="flex flex-column align-items-center justify-content-center">
        <div class="grid d-flex">
            <img
                src="assets/img/ico-uch-dark.png"
                alt="logo uch"
                class="mb-5 w-6rem flex-shrink-0"
            />
            <h1 class="title-udi">UDI</h1>
        </div>

        <div
            style="
                border-radius: 56px;
                padding: 0.3rem;
                background: linear-gradient(
                    180deg,
                    var(--primary-color) 10%,
                    rgba(33, 150, 243, 0) 30%
                );
            "
        >
            <div
                class="w-full surface-card py-8 px-5 sm:px-8"
                style="border-radius: 53px"
            >
                <div>
                    <h4 class="mb-4 text-color">Restaurar contraseña</h4>
                </div>

                <div>
                    <form [formGroup]="loginForm">
                        <label
                            for="email1"
                            class="block text-900 text-xl font-medium mb-2"
                            >Correo</label
                        >

                        <div class="my-3">
                            <b style="font-size: medium;">{{emailUrl}}</b>
                        </div>
                        <label
                            for="password1"
                            class="block text-900 font-medium text-xl mb-2"
                            >Nueva contraseña</label
                        >
                        <p-password
                            id="password1"
                            placeholder="Nueva contraseña"
                            formControlName="password"
                            [toggleMask]="true"
                            styleClass="mb-5"
                            inputStyleClass="w-full p-3 md:w-30rem"
                            [feedback]="true"
                        ></p-password>
                        <small
                            class="pl-2 text-error mb-2"
                            style="display: grid; margin-top: -20px"
                            ng
                            *ngIf="password.dirty && password.errors"
                            >Debe ingresar una contraseña.</small
                        >
                        <label
                            for="password1"
                            class="block text-900 font-medium text-xl mb-2"
                            >Repita su nueva contraseña</label
                        >
                        <p-password
                            id="password1"
                            placeholder="Repita su nueva contraseña"
                            formControlName="secondPassword"
                            [toggleMask]="true"
                            styleClass="mb-5"
                            inputStyleClass="w-full p-3 md:w-30rem"
                            [feedback]="false"
                        ></p-password>
                        <small
                            class="pl-2 text-error mb-2"
                            style="display: grid; margin-top: -20px"
                            ng
                            *ngIf="secondPassword.dirty && secondPassword.errors && stateSecondPassword === ''"
                            >Debe ingresar una contraseña.</small
                        >
                        <small
                            class="pl-2 text-error mb-2"
                            style="display: grid; margin-top: -20px"
                            ng
                            *ngIf="stateSecondPassword === 'error'"
                            >El password no coincide.</small
                        >
                        <div
                            class="flex align-items-center justify-content-between mb-5 gap-5"
                        >
                            <a
                                (click)="redirectToLogin()"
                                class="font-medium no-underline ml-2 text-right cursor-pointer"
                                style="color: var(--primary-color)"
                                ><i
                                    class="pi pi-chevron-left"
                                    style="font-size: 1rem"
                                ></i>
                                o inicie sesión aquí</a
                            >
                        </div>
                        <button
                            pButton
                            pRipple
                            label="Restaurar contraseña"
                            class="w-full p-3 text-xl"
                            (click)="callToResetPassword()"
                        ></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
