<p-toast key="tst"></p-toast>
<div *ngIf="!inscriptionSelected" class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button
                            pButton
                            pRipple
                            label="Inscribir un nuevo protecto de tesis"
                            icon="pi pi-plus"
                            class="p-button-success mr-2"
                            (click)="goToInscription()"></button>
                    </div>
                </ng-template>              
            </p-toolbar>
        <div class="card">
            <p-table #dt [value]="registros" responsiveLayout="scroll"
                [rows]="10"
                [globalFilterFields]="['titulo_proyecto_tesis','nombre']"
                [paginator]="true" [rowsPerPageOptions]="[10,20,30]"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [(selection)]="selectedProducts" selectionMode="multiple"
                [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div
                        class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Seguimiento de inscripciones</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text"
                                (input)="onGlobalFilter(dt, $event)"
                                placeholder="Buscar por título..."
                                class="w-full sm:w-auto" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableheadercheckbox></p-tableheadercheckbox>
                        </th>
                        <th pSortableColumn="titulo_proyecto_tesis"
                            style="width:60%">Título de
                            tesis <p-sorticon
                                field="titulo_proyecto_tesis"></p-sorticon></th>
                        <th pSortableColumn="nombre" style="width:20%">Revisor
                            <p-sorticon
                                field="nombre"></p-sorticon></th>
                        <th style="width:10%">Estado</th>
                        <th style="width:10%"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-data>
                    <tr>
                        <td>
                            <p-tablecheckbox [value]="data"></p-tablecheckbox>
                        </td>
                        <td style="width:14%; min-width:10rem;"><span
                                class="p-column-title">Título de tesis</span>
                            {{data.titulo_proyecto_tesis}}
                        </td>
                        <td style="width:14%; min-width:8rem;">
                            <span class="p-column-title">Revisor</span>
                            {{data.inscripciones[0].docente[0].nombre + ' ' +
                            data.inscripciones[0].docente[0].apellidos}}
                        </td>
                        <td style="width:14%; min-width: 10rem;"><span
                                class="p-column-title">estado</span>
                            <span
                                [class]="'product-badge status-' + (data.estado ? data.estado.toLowerCase() : '')">{{data.inscripciones[0].estado}}</span>
                        </td>
                        <td>
                            <div class="flex">
                                <p-button label="Ver detalle" [outlined]="true"
                                    severity="contrast"
                                    (click)="viewDetailsInscription(data)" />

                                <!-- <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editProduct(product)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteProduct(product)"></button> -->
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        </div>

    </div>
</div>
<p-confirmDialog>
    <ng-template pTemplate="message" let-message>
        <div
            class="flex flex-column align-items-center w-full gap-3 border-bottom-1 surface-border">
            <i class="pi pi-exclamation-circle text-6xl text-primary-500"></i>
            <p>{{ message.message }}</p>
        </div>
    </ng-template>
</p-confirmDialog>
<div *ngIf="inscriptionSelected" class="grid">
    <div class="col-12">

        <div class="card">
            <div class="grid d-flex col-12">
                <div class="mr-auto p-2">
                    <p-button (click)="backList()" label="Regresar"
                        [outlined]="true"
                        icon="pi pi-angle-left" iconPos="left" />
                    <p-button *ngIf="!showEdit" class="ml-3" (click)="showEdition()"
                        label="Editar"
                        icon="pi pi-pencil" iconPos="left" />
                    <p-button *ngIf="showEdit" class="ml-3" (click)="cancelEdition()"
                        label="Cancelar edición"
                        icon="pi pi-times" iconPos="right" />
                    <p-button *ngIf="showEdit" class="ml-3" (click)="saveEdition()"
                        label="Guardar cambios"
                        icon="pi pi-save" iconPos="left" />
                </div>
                <div class="p-2">
                    <p-button
                        *ngIf="inscriptionState !== 'Cancelado' && inscriptionState !== 'Aprobado'"
                        label="Cancelar inscripción"
                        [outlined]="true"
                        class="mr-3"
                        icon="pi pi-times" iconPos="left"
                        severity="danger" (click)="goToCancelation()" />
                    <p-button
                        *ngIf="inscriptionState === 'Inscrito' || inscriptionState === 'Observado'"
                        label="Pasar a revisión" [outlined]="true"
                        icon="pi pi-angle-right" iconPos="right"
                        severity="info" (click)="goToReview()" />
                    <p-button *ngIf="inscriptionState === 'En revisión'"
                        label="Observado" [outlined]="true"
                        icon="pi pi-exclamation-circle" iconPos="left"
                        severity="warning" (click)="goToObserved()" />
                    <p-button
                        *ngIf="inscriptionState === 'En revisión'"
                        class="ml-3"
                        label="Aprobado" [outlined]="true"
                        icon="pi pi-angle-right" iconPos="right"
                        severity="success" (click)="goToApprove()" />
                </div>
            </div>
            <div class="card flex justify-content-center col-12">

                <h4
                    class="font-bold">Título:
                    {{inscriptionSelected.titulo_proyecto_tesis}}</h4>

            </div>
            <div *ngIf="!showEdit" class="grid col-12">
                <div class="col-3"><p class="font-bold">Nro de
                        expediente:</p><p>{{inscriptionSelected.expediente}}</p></div>
                <div class="col-3"><p class="font-bold">Escuala
                        profesional:</p><p>{{inscriptionSelected.escuela_profesional}}</p></div>
                <div class="col-3"><p class="font-bold">Nro de
                        oficio:</p><p>{{inscriptionSelected.numero_oficio}}</p></div>
                <div class="col-3"><p class="font-bold">Nro de
                        resolución:</p><p>{{inscriptionSelected.numero_resolucion}}</p></div>
            </div>
            <div *ngIf="showEdit" class="grid col-12">
                <div class="col-3"><p class="font-bold">Nro de
                        expediente:</p><input type="text" pInputText
                        class="full-width"
                        [value]="inscriptionSelected.expediente" />
                </div>
                <div class="col-3"><p class="font-bold">Escuala
                        profesional:</p><input type="text" pInputText
                        class="full-width"
                        [value]="inscriptionSelected.escuela_profesional" />
                </div>
                <div class="col-3"><p class="font-bold">Nro de
                        oficio:</p><input type="text" pInputText
                        class="full-width"
                        [value]="inscriptionSelected.numero_oficio" />
                </div>
                <div class="col-3"><p class="font-bold">Nro de
                        resolución:</p><input type="text" pInputText
                        class="full-width"
                        [value]="inscriptionSelected.numero_resolucion" />
                </div>
            </div>
            <div class="grid col-12">
                <div class="col-3"><p class="font-bold">Fecha de recepción a
                        Facultad:</p>
                    <p *ngIf="!showEdit">
                        <i class="pi pi-calendar"></i>
                        {{inscriptionSelected.inscripciones[0].fecha_recepcion_facultad}}
                    </p>
                    <p-calendar *ngIf="showEdit"
                        [(ngModel)]="inscriptionSelected.inscripciones[0].fecha_recepcion_facultad"
                        [iconDisplay]="'input'"
                        class="full-width"
                        [showIcon]="true"
                        dateFormat="yy-mm-dd"
                        inputId="icondisplay" />
                </div>
                <div class="col-3"><p class="font-bold">Escuala de aprobación
                        UDI:</p>
                    <p *ngIf="!showEdit">
                        <i class="pi pi-calendar"></i>
                        {{inscriptionSelected.inscripciones[0].fecha_aprobacion_UDI}}
                    </p>
                    <p-calendar *ngIf="showEdit"
                        [(ngModel)]="inscriptionSelected.inscripciones[0].fecha_aprobacion_UDI"
                        [iconDisplay]="'input'"
                        class="full-width"
                        [showIcon]="true"
                        dateFormat="yy-mm-dd"
                        inputId="icondisplay" />
                </div>
                <div class="col-3">
                </div>
                <div class="col-3">
                    <p class="font-bold">Estado:</p>
                    <p-tag *ngIf="inscriptionState === 'Inscrito'"
                        value="Inscrito" />
                    <p-tag *ngIf="inscriptionState === 'En revisión'"
                        severity="info"
                        value="En revisión" />
                    <p-tag *ngIf="inscriptionState === 'Observado'"
                        severity="warning"
                        value="Observado" />
                    <p-tag *ngIf="inscriptionState === 'Cancelado'"
                        severity="danger"
                        value="Cancelado" />
                    <p-tag *ngIf="inscriptionState === 'Aprobado'"
                        severity="success"
                        value="Aprobado" />
                </div>

            </div>
            <div class="ml-2 mr-2 separator"></div>
            <div class="grid col-12">
                <div class="col-6">
                    <p-table
                        [value]="inscriptionSelected.inscripciones[0].docente">
                        <ng-template pTemplate="header">
                            <tr>
                                <th><i class="pi pi-user"></i> Revisor</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-product>
                            <tr>
                                <td>{{ product.nombre + ' ' + product.apellidos
                                    }}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
                <div class="col-6">
                    <p-table
                        [value]="inscriptionSelected.egresados">
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 50%;"><i
                                        class="pi pi-users"></i>
                                    Estudiantes</th>
                                <th style="width: 50%;"></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-product>
                            <tr>
                                <td>{{ product.nombre + ' ' + product.apellidos
                                    }}</td>
                                <td>{{ product.email }}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>

            <div class="ml-2 mr-2 separator"></div>
            <div class="grid col-12">
                <div class=" col-12">
                    <h5>Lista de tareas</h5>
                </div>
                <div class="col-4 text-align-center">
                    <p-card>
                        <p>Tareas incompletas <p-badge [value]="totalTaskIncomplete"
                                severity="warning" />
                        </p>
                    </p-card>
                </div>
                <div class="col-4 text-align-center">
                    <p-card>
                        <p>Tareas terminadas <p-badge [value]="totalTaskComplete"
                                severity="success" />
                        </p>
                    </p-card>
                </div>
                <div class="col-4 text-align-center">
                    <p-card>
                        <p>Total de tareas <p-badge [value]="totalTask"
                                severity="info" />
                        </p>
                    </p-card>
                </div>
                <div class="col-11">
                    <form [formGroup]="tasksForm">
                        <span class="p-float-label">
                            <input
                                type="text"
                                style="width: 100%;"
                                id="taskDescription"
                                pInputText
                                formControlName="taskDescription" />
                            <label for="taskDescription">Escribe la tarea
                                aquí...</label>
                        </span>
                    </form>
                </div>
                <div class="col-1">
                    <p-button label="Enviar" [rounded]="true"
                        (click)="addTask()"
                        [disabled]="tasksForm.invalid" />
                </div>

                <div class=" col-12">
                    <div *ngFor="let task of tasks" class="grid d-flex ml-1">
                        <div class="mr-auto p-2 col-11"
                            style="align-content: center;">
                            <p-checkbox
                                [inputId]="task.id"
                                [(ngModel)]="task.checked"
                                [binary]="true"
                                #checkbox
                                (onChange)="taskDone(task.id, checkbox)"></p-checkbox>
                            <label class="ml-3" [for]="task.id"
                                [ngClass]="isTaskDone(task)">{{ task.description
                                }}</label>
                        </div>
                        <div class="p-2 col-1">
                            <p-button icon="pi pi-trash" [rounded]="true"
                                [text]="true" severity="danger"
                                [disabled]="task.checked"
                                (click)="removeTask(task.id)" />
                        </div>
                        <p-divider
                            class="col-12 divider-aditional-class"></p-divider>
                    </div>

                </div>
                <div class="ml-2 mr-2 separator"></div>

                <div class=" col-12">
                    <h5>Observaciones</h5>
                </div>
                <div class="col-11">
                    <form [formGroup]="commentsForm">
                        <span class="p-float-label">
                            <textarea
                                inputId="textarea"
                                rows="4"
                                style="width: 100%;"
                                formControlName="comment"
                                pInputTextarea></textarea>
                            <label for="textarea">Escribe tu observación
                                aquí...</label>
                        </span>
                    </form>
                </div>
                <div class="col-1">
                    <p-button label="Enviar" [rounded]="true"
                        (click)="addComment()"
                        [disabled]="commentsForm.invalid" />
                </div>

                <div class=" col-12">
                    <div *ngFor="let comment of comments" class="mb-3">
                        <p-fieldset [legend]="comment.name" [toggleable]="true">
                            <p [innerHTML]="formatText(comment.content)"></p>
                        </p-fieldset>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>