<p-toast key="tst"></p-toast>
<div class="grid">
    <div class="col-12">
        <app-breadcrumb [items]="breadcrumbItems"></app-breadcrumb>
        <div class="card px-6 py-6">








            <div>
                <h2>Registro de Gastos</h2>
              
                <p>
                  <label>Selecciona un Plan:</label>
                  <p-dropdown 
                    [options]="testData" 
                    [(ngModel)]="selectedPlan" 
                    [optionLabel]="'tituloGeneral'" 
                    (onChange)="onPlanChange()">
                  </p-dropdown>
                </p>
              
                <p *ngIf="selectedPlan">
                  <label>Selecciona una Actividad:</label>
                  <p-dropdown 
                    [options]="selectedPlan.actividades" 
                    [(ngModel)]="selectedActividad" 
                    [optionLabel]="'descripcion'" 
                    (onChange)="onActividadChange()">
                  </p-dropdown>
                </p>
              
                <div *ngIf="selectedActividad">
                    <label>Selecciona una Tarea:</label>
                    <p-dropdown 
                      [options]="selectedActividad.tareas" 
                      [(ngModel)]="selectedTarea" 
                      [optionLabel]="'descripcion'"
                      (onChange)="onTareaChange()"> <!-- Asegúrate de tener este evento -->
                    </p-dropdown>
                  </div>
              
                <div *ngIf="selectedTarea">
                  <h3>Registrar Gasto Específico</h3>
                  
                  <form [formGroup]="gastoForm" (ngSubmit)="agregarGasto()">
                    <label>Gasto Específico:</label>
                    <input type="text" pInputText formControlName="gastoEspecifico" />

              
                    <div formArrayName="meses">
                        <div *ngFor="let mes of ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic']; let i = index">
                            <label>{{ mes }}:</label>
                            <p-inputNumber [formControlName]="i"></p-inputNumber>
                        </div>
                    </div>
              
                    <label>Rubro Contable:</label>
                    <input type="text" pInputText formControlName="rubroContable" />

              
                    <p-button label="Agregar Gasto" type="submit"></p-button>
                  </form>
                </div>
              
                <h3>Vista Previa de Gastos</h3>
                <p-table [value]="gastosIngresados" styleClass="p-datatable-gridlines" responsiveLayout="scroll">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Actividad</th>
                            <th>Tarea</th>
                            <th>Gasto Específico</th>
                            <th *ngFor="let mes of ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic']">{{ mes }}</th>
                            <th>Total</th>
                            <th>Rubro Contable</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-gasto>
                        <tr>
                            <td>{{ gasto.actividad }}</td>
                            <td>{{ gasto.tarea }}</td>
                            <td>{{ gasto.gastoEspecifico }}</td>
                            <td *ngFor="let monto of gasto.meses">{{ monto}}</td>
                            <td>{{ calcularTotal(gasto.meses) }}</td>
                            <td>{{ gasto.rubroContable }}</td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="footer">
                        <tr>
                            <td colspan="3">TOTAL</td>
                            <td *ngFor="let mes of totalMeses()">{{ mes}}</td>
                            <td>{{ calcularTotalTotal()  }}</td>
                            <td></td>
                        </tr>
                    </ng-template>
                </p-table>
              </div>






        </div>
    </div>
</div>
