<p-toast key="tst"></p-toast>
<div
    class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden background-uch"
>
    <div class="flex flex-column align-items-center justify-content-center">
        <div class="grid d-flex">
            <img
                src="assets/img/ico-uch-dark.png"
                alt="logo uch"
                class="mb-5 w-6rem flex-shrink-0"
            />
            <h1 class="title-udi">UDI</h1>
        </div>

        <div
            style="
                border-radius: 56px;
                padding: 0.3rem;
                background: linear-gradient(
                    180deg,
                    var(--primary-color) 10%,
                    rgba(33, 150, 243, 0) 30%
                );
            "
        >
            <div
                class="w-full surface-card py-8 px-5 sm:px-8"
                style="border-radius: 53px"
            >
                <div>
                    <h4 class="mb-4 text-color">
                        Recuera tu cuenta
                    </h4>
                </div>

                <div>
                    <form [formGroup]="loginForm">
                        <label
                            for="email1"
                            class="block text-900 text-xl font-medium mb-2"
                            >Correo</label
                        >

                        <input
                            id="email1"
                            type="text"
                            placeholder="Ingrese su correo"
                            pInputText
                            formControlName="email"
                            class="w-full md:w-30rem mb-5"
                            style="padding: 1rem"
                        />
                        <small
                            class="pl-2 text-error mb-2"
                            style="display: grid; margin-top: -20px"
                            *ngIf="email.dirty && email.errors"
                            >El correo es requerido.</small
                        >
                        <div
                            class="flex align-items-center justify-content-between mb-5 gap-5"
                        >
                            <a
                                (click)="redirectToLogin()"
                                class="font-medium no-underline ml-2 text-right cursor-pointer"
                                style="color: var(--primary-color)"
                                ><i class="pi pi-chevron-left" style="font-size: 1rem"></i>
                                o inicie sesión aquí</a
                            >
                        </div>
                        <button
                            pButton
                            pRipple
                            label="Recuperar"
                            class="w-full p-3 text-xl"
                            (click)="callToForgotPassword()"
                        ></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
