<div class="card">
    <h5>Datos del área de UDI</h5>
    <p>
        Complete todos los campos para continuar.
    </p>
    <form [formGroup]="presenter.formStep1">
        <div class="grid p-fluid mt-3">
            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <p-calendar 
                        formControlName="receptionDate"
                        inputId="egressDate"
                        ></p-calendar>
                    <label for="egressDate">Fecha de
                        recepción a facultad</label>
                </span>
            </div>
            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <input
                        type="text"
                        id="inputtext"
                        formControlName="fileNumber"
                        pInputText />
                    <label for="inputtext">Número de expediente</label>
                </span>
            </div>
            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <p-dropdown
                        formControlName="professionalSchool"
                        inputId="role"
                        [autoDisplayFirst]="false"
                        [options]="options"
                        optionLabel="name"></p-dropdown>
                    <label for="role">Seleccione una escuela profesional</label>
                </span>
            </div>
        </div>
        <div class="flex gap-3 mt-1">
            <p-button (click)="nextStep()" label="Siguiente"
                icon="pi pi-angle-right" iconPos="right" 
                [disabled]="presenter.formStep1.invalid"/>
        </div>
    </form>

</div>
