<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button
                            pButton
                            pRipple
                            label="Nuevo usuario"
                            icon="pi pi-plus"
                            class="p-button-success mr-2"
                            (click)="openNew()"></button>
                        <button
                            pButton
                            pRipple
                            label="Eliminar"
                            icon="pi pi-trash"
                            class="p-button-danger"
                            (click)="deleteSelectedProducts()"
                            [disabled]="
                                !selectedProducts || !selectedProducts.length
                            "></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <p-fileupload
                        mode="basic"
                        accept="image/*"
                        [maxFileSize]="1000000"
                        label="Import"
                        chooseLabel="Import"
                        class="mr-2 inline-block"></p-fileupload>
                    <button
                        pButton
                        pRipple
                        label="Export"
                        icon="pi pi-upload"
                        class="p-button-help"
                        (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>
            <div [ngSwitch]="getUserProcess">
                <ng-template [ngSwitchCase]="'charging'">
                  <ng-container *ngTemplateOutlet="userListSkeleton"></ng-container>
                </ng-template>
                <ng-template [ngSwitchCase]="'error'">
                  <ng-container *ngTemplateOutlet="userListError"></ng-container>
                </ng-template>
                <ng-template [ngSwitchCase]="'complete'">
                  <ng-container *ngTemplateOutlet="userList"></ng-container>
                </ng-template>
                <ng-template ngSwitchDefault>
                  <p>Invalid state</p>
                </ng-template>
            </div>
            <ng-template #userListError>
                <div class="p-d-flex p-jc-center p-ai-center text-align-center">
                    <div class="p-text-center error-content">
                      
                      <h1 class="error-title"><i class="pi pi-times-circle error-icon"></i> Error :(</h1>
                      <p class="error-message">Se produjo un error al cargar la lista de usuarios. Por favor, inténtelo de nuevo más tarde.</p>
                      <button pButton type="button" label="Reintentar" icon="pi pi-refresh" (click)="callGetUserList()" class="p-button-danger"></button>
                    </div>
                  </div>
            </ng-template>
            <ng-template #userListSkeleton>
                <div class="card">
                    <p-table [value]="skeletonRows" responsiveLayout="scroll">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Código</th>
                                <th>Nombres completos</th>
                                <th>Correo</th>
                                <th>Celular</th>
                                <th>Estado</th>
                                <th></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-product>
                            <tr>
                                <td><p-skeleton /></td>
                                <td><p-skeleton /></td>
                                <td><p-skeleton /></td>
                                <td><p-skeleton /></td>
                                <td><p-skeleton /></td>
                                <td><p-skeleton /></td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </ng-template>
            <ng-template #userList>
                <div class="card">
                    <p-table #dt [value]="userData" responsiveLayout="scroll"
                        [rows]="10"
                        [globalFilterFields]="['code','name','email','phone']"
                        [paginator]="true" [rowsPerPageOptions]="[10,20,30]"
                        [showCurrentPageReport]="true"
                        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                        [(selection)]="selectedProducts" selectionMode="multiple"
                        [rowHover]="true" dataKey="id">
                        <ng-template pTemplate="caption">
                            <div
                                class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                                <h5 class="m-0">Administración de usuarios</h5>
                                <span class="block mt-2 md:mt-0 p-input-icon-left">
                                    <i class="pi pi-search"></i>
                                    <input pInputText type="text"
                                        (input)="onGlobalFilter(dt, $event)"
                                        placeholder="Buscar por nombre..."
                                        class="w-full sm:w-auto" />
                                </span>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 3rem">
                                    <p-tableheadercheckbox></p-tableheadercheckbox>
                                </th>
                                <th pSortableColumn="code">Código <p-sortIcon
                                        field="code"></p-sortIcon></th>
                                <th pSortableColumn="name">Nombres completos
                                    <p-sortIcon field="name"></p-sortIcon></th>
                                <th pSortableColumn="email">Correo <p-sortIcon
                                        field="email"></p-sortIcon></th>
                                <th pSortableColumn="phone">Celular <p-sortIcon
                                        field="phone"></p-sortIcon></th>
                                <th>Estado</th>
                                <th></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-data>
                            <tr>
                                <td>
                                    <p-tableCheckbox
                                        [value]="data"></p-tableCheckbox>
                                </td>
                                <td style="width:14%; min-width:10rem;"><span
                                        class="p-column-title">codigo</span>
                                    {{data.code}}
                                </td>
                                <td style="width:14%; min-width:10rem;">
                                    <span class="p-column-title">nombre</span>
                                    {{data.name + ' ' + data.surnames}}
                                </td>
                                <td style="width:14%; min-width:10rem;"><span
                                        class="p-column-title">email</span>
                                    {{data.email}}
                                </td>
                                <td style="width:14%; min-width:8rem;">
                                    <span class="p-column-title">ceular</span>
                                    {{data.phone}}
                                </td>
                                <td style="width:14%; min-width: 10rem;"><span
                                        class="p-column-title">estado</span>
                                    <span
                                        [class]="'product-badge status-' + (data.status ? data.status.toLowerCase() : '')">{{data.status}}</span>
                                </td>
                                <td>
                                    <div class="flex">
                                        <p-button label="Ver detalle"
                                            [outlined]="true" severity="contrast"
                                            (click)="openModalUserDetail(data)" />
    
                                        <!-- <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editProduct(product)"></button>
                                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteProduct(product)"></button> -->
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </ng-template>
            
        </div>

        <p-dialog
            [(visible)]="modalUserDetail"
            [style]="{ width: '60rem' }"
            [header]="titleModalDetailIserSelected"
            [modal]="true"
            class="p-fluid"
            [maximizable]="true">
            <div *ngIf="modalUserDetail" class="content">
                {{ userDetailSelected.name }}
            </div>
        </p-dialog>
    </div>
</div>
<p-sidebar [(visible)]="modalNewUser" [style]="{'width': '40%'}" position="right">
    <ng-template pTemplate="header">
        <span class="font-semibold text-xl">Detalle del usuario</span>
    </ng-template>
    <div class="content">
        <form [formGroup]="userForm">
            <div class="field mt-4">
                <span class="p-float-label">
                    <p-dropdown
                        formControlName="role"
                        inputId="role"
                        class="w-full"
                        [autoDisplayFirst]="false"
                        [options]="roles"
                        optionLabel="name"></p-dropdown>
                    <label for="role">Seleccione un rol</label>
                </span>
                <small
                    class="pl-2 text-error"
                    *ngIf="role.dirty && role.errors">El rol es
                    requerido.</small>
            </div>
            <div *ngIf="role.value.code === 'Estudiante'">
                <div class="formgrid grid mt-5">
                    <div class="field col">
                        <span class="p-float-label">
                            <input
                                type="text"
                                id="career"
                                class="w-full"
                                pInputText
                                formControlName="career" />
                            <label for="career">Carrera</label>
                        </span>
                        <small
                            class="pl-2 text-error"
                            *ngIf="career.dirty && career.errors">La
                            carrera es requerida.</small>
                    </div>
                    <div class="field col">
                        <span class="p-float-label">
                            <p-dropdown
                                formControlName="cycle"
                                inputId="cycle"
                                class="w-full"
                                [autoDisplayFirst]="false"
                                [options]="cycles"
                                optionLabel="name"></p-dropdown>
                            <label for="cycle">Seleccione el
                                ciclo</label>
                        </span>
                        <small
                            class="pl-2 text-error"
                            *ngIf="cycle.dirty && cycle.errors">El ciclo
                            es requerido.</small>
                    </div>
                </div>
            </div>
            <div *ngIf="role.value.code === 'Egresado'">
                <div class="formgrid grid mt-5">
                    <div class="field col">
                        <span class="p-float-label">
                            <input
                                type="text"
                                id="career"
                                class="w-full"
                                pInputText
                                formControlName="career" />
                            <label for="career">Carrera</label>
                        </span>
                        <small
                            class="pl-2 text-error"
                            *ngIf="career.dirty && career.errors">La
                            carrera es requerida.</small>
                    </div>
                    <div class="field col">
                        <span class="p-float-label">
                            <p-calendar
                                inputId="egressDate"
                                [iconDisplay]="'input'"
                                formControlName="egressDate"
                                class="w-full"
                                [showIcon]="true"
                                dateFormat="yy-mm-dd"></p-calendar>
                            <label for="egressDate">Fecha de
                                egreso</label>
                        </span>
                        <small
                            class="pl-2 text-error"
                            *ngIf="
                                egressDate.dirty && egressDate.errors
                            ">La fecha de egreso es requerida.</small>
                    </div>
                </div>
            </div>
            <div class="field mt-4">
                <span class="p-float-label">
                    <input
                        type="text"
                        id="name"
                        class="w-full"
                        pInputText
                        formControlName="name" />
                    <label for="name">Nombres completos</label>
                </span>
                <small
                    class="pl-2 text-error"
                    *ngIf="name.dirty && name.errors">El nombre es
                    requerido.</small>
            </div>
            <div class="field mt-4">
                <span class="p-float-label">
                    <input
                        type="text"
                        id="lastName"
                        class="w-full"
                        pInputText
                        formControlName="lastName" />
                    <label for="lastName">Apellidos completos</label>
                </span>
                <small
                    class="pl-2 text-error"
                    *ngIf="lastName.dirty && lastName.errors">El
                    apellido es requerido.</small>
            </div>

            <div class="formgrid grid mt-4">
                <div class="field col">
                    <span class="p-float-label">
                        <input
                            type="text"
                            id="code"
                            class="w-full"
                            pInputText
                            formControlName="code" />
                        <label for="code">Código</label>
                    </span>
                    <small
                        class="pl-2 text-error"
                        *ngIf="code.dirty && code.errors">El código es
                        requerido.</small>
                </div>

                <div class="field col">
                    <span class="p-float-label">
                        <input
                            type="text"
                            id="number"
                            class="w-full"
                            pInputText
                            formControlName="number" />
                        <label for="number">Celular</label>
                    </span>
                    <small
                        class="pl-2 text-error"
                        *ngIf="number.dirty && number.errors">El celular
                        es requerido.</small>
                </div>
            </div>
            <div class="formgrid grid mt-4">
                <div class="field col">
                    <span class="p-float-label">
                        <input
                            type="email"
                            id="email"
                            class="w-full"
                            pInputText
                            formControlName="email" />
                        <label for="email">Correo</label>
                    </span>
                    <small
                        class="pl-2 text-error"
                        *ngIf="email.dirty && email.errors">El nombre es
                        requerido.</small>
                </div>
            </div>
            <div *ngIf="role.value.code === 'Docente'">
                <div class="grid formgrid mt-4 pl-1">
                    <div class="col-12 md:col-4">
                        <div class="field-checkbox">
                            <p-checkbox
                                name="group1"
                                value="Revisor"
                                formControlName="reviewer"
                                id="Revisor"></p-checkbox>
                            <label for="ny">Revisor</label>
                        </div>
                    </div>
                    <div class="col-12 md:col-4">
                        <div class="field-checkbox">
                            <p-checkbox
                                name="group1"
                                value="Asesor"
                                formControlName="adviser"
                                id="adviser"></p-checkbox>
                            <label for="sf">Asesor</label>
                        </div>
                    </div>
                    <div class="col-12 md:col-4">
                        <div class="field-checkbox">
                            <p-checkbox
                                name="group1"
                                value="Jurado"
                                formControlName="jury"
                                id="jury"></p-checkbox>
                            <label for="la">Jurado</label>
                        </div>
                    </div>
                </div>
                <div class="formgrid grid mt-5">
                    <div class="field col">
                        <span class="p-float-label">
                            <input
                                type="text"
                                id="career"
                                class="w-full"
                                pInputText
                                formControlName="career" />
                            <label for="career">Carrera</label>
                        </span>
                        <small
                            class="pl-2 text-error"
                            *ngIf="career.dirty && career.errors">La
                            carrera es requerida.</small>
                    </div>
                    <div class="field col">
                        <span class="p-float-label">
                            <input
                                type="text"
                                id="line"
                                class="w-full"
                                pInputText
                                formControlName="line" />
                            <label for="line">Línea</label>
                        </span>
                        <small
                            class="pl-2 text-error"
                            *ngIf="line.dirty && line.errors">la línea
                            es requerida.</small>
                    </div>
                </div>
                <div class="field mt-4">
                    <span class="p-float-label">
                        <textarea
                            inputId="subLine"
                            rows="3"
                            cols="30"
                            class="w-full"
                            formControlName="subLine"
                            pInputTextarea></textarea>
                        <label for="subLine">Sub línea</label>
                    </span>
                    <small
                        class="pl-2 text-error"
                        *ngIf="subLine.dirty && subLine.errors">Las sub
                        líneas son requeridas.</small>
                </div>
            </div>
            <div class="footer">
                <button
                    pButton
                    pRipple
                    label="Regresar"
                    icon="pi pi-angle-left"
                    class="p-button-text"
                    iconPos="left"
                    (click)="hideDialog()"></button>
                <button
                    pButton
                    pRipple
                    label="Guardar"
                    icon="pi pi-check"
                    iconPos="right"
                    [disabled]="!userForm.valid"
                    (click)="callPostNewUser()"></button>
              </div>
        </form>
    </div>
  </p-sidebar>